In [1]:
import pandas as pd

In [2]:
# Interpolate missing values with method="time" and limit_direction="both"
UK_df = pd.read_csv("Resources/individual_country_missing/1_UnitedKingdom.csv", parse_dates=["year"])
UK_df.set_index("year", inplace=True)
UK_df

# type(UK_df.year[0])

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,United Kingdom,1,Europe,1,London,51.5085,-0.1257,28447,78.0,9146.077357,27537,38.1034,NaN,NaN
1983-01-01,2,United Kingdom,1,Europe,1,London,51.5085,-0.1257,32152,78.0,8691.518813,28086,46.1251,NaN,NaN
1984-01-01,3,United Kingdom,1,Europe,1,London,51.5085,-0.1257,38387,78.0,8179.194441,29265,51.2264,NaN,NaN
1985-01-01,4,United Kingdom,1,Europe,1,London,51.5085,-0.1257,43555,78.0,8652.216542,34066,72.2432,NaN,NaN
1986-01-01,5,United Kingdom,1,Europe,1,London,51.5085,-0.1257,55935,78.0,10611.112210,36974,78.6257,NaN,NaN
1987-01-01,6,United Kingdom,1,Europe,1,London,51.5085,-0.1257,75519,79.0,13118.586530,46489,91.2165,NaN,NaN
1988-01-01,7,United Kingdom,1,Europe,1,London,51.5085,-0.1257,95698,78.0,15987.168080,51734,78.1793,NaN,NaN
1989-01-01,8,United Kingdom,1,Europe,1,London,51.5085,-0.1257,103458,78.0,16239.282200,67722,87.8556,NaN,NaN
1990-01-01,9,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98676,78.0,19095.467000,72707,77.7416,NaN,NaN
1991-01-01,10,United Kingdom,1,Europe,1,London,51.5085,-0.1257,100085,79.0,19900.726650,79819,86.6224,NaN,NaN
1992-01-01,11,United Kingdom,1,Europe,1,London,51.5085,-0.1257,86587,80.0,20487.170790,85176,80.9456,NaN,NaN
1993-01-01,12,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98739,81.0,18389.019570,109208,108.3753,NaN,NaN
1994-01-01,13,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98732,82.0,19709.238100,100817,100.2490,NaN,NaN
1995-01-01,14,United Kingdom,1,Europe,1,London,51.5085,-0.1257,116272,82.0,23123.177790,106332,99.1318,NaN,NaN
1996-01-01,15,United Kingdom,1,Europe,1,London,51.5085,-0.1257,121582,82.0,24332.697770,134559,120.9042,1.88,1.63
1997-01-01,16,United Kingdom,1,Europe,1,London,51.5085,-0.1257,129421,82.0,26734.562610,154462,132.6583,1.91,1.70
1998-01-01,17,United Kingdom,1,Europe,1,London,51.5085,-0.1257,137489,83.0,28214.274360,183035,139.2370,1.93,1.78
1999-01-01,18,United Kingdom,1,Europe,1,London,51.5085,-0.1257,153797,84.0,28669.539690,216638,175.6310,1.89,1.74
2000-01-01,19,United Kingdom,1,Europe,1,London,51.5085,-0.1257,277613,86.0,28149.870010,230762,155.4449,1.85,1.70
2001-01-01,20,United Kingdom,1,Europe,1,London,51.5085,-0.1257,197651,86.0,27744.506460,228230,131.0475,1.84,1.69
2002-01-01,21,United Kingdom,1,Europe,1,London,51.5085,-0.1257,211699,86.0,30056.586220,247952,104.0191,1.84,1.68
2003-01-01,22,United Kingdom,1,Europe,1,London,51.5085,-0.1257,217841,87.0,34419.147910,277246,118.1588,1.81,1.70
2004-01-01,23,United Kingdom,1,Europe,1,London,51.5085,-0.1257,267209,87.0,40290.313970,330416,116.5084,1.89,1.63
2005-01-01,24,United Kingdom,1,Europe,1,London,51.5085,-0.1257,371350,87.0,42030.286610,351513,120.4635,1.77,1.57
2006-01-01,25,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414629,87.0,44599.697570,406358,139.3407,1.67,1.79
2007-01-01,26,United Kingdom,1,Europe,1,London,51.5085,-0.1257,405543,88.0,50566.826600,426357,124.0441,1.65,1.74
2008-01-01,27,United Kingdom,1,Europe,1,London,51.5085,-0.1257,447529,88.0,47286.998490,448412,63.9195,1.64,1.71
2009-01-01,28,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414590,88.0,38713.137430,495382,94.0055,1.51,1.74
2010-01-01,29,United Kingdom,1,Europe,1,London,51.5085,-0.1257,400435,88.0,39435.839900,501247,121.7870,1.57,1.76
2011-01-01,30,United Kingdom,1,Europe,1,London,51.5085,-0.1257,446077,89.0,42038.572250,485029,118.6890,1.56,1.65
2012-01-01,31,United Kingdom,1,Europe,1,London,51.5085,-0.1257,485785,89.0,42462.771570,537041,112.1110,1.55,1.72
2013-01-01,32,United Kingdom,1,Europe,1,London,51.5085,-0.1257,510795,89.0,43444.533000,537714,NaN,1.50,1.71
2014-01-01,33,United Kingdom,1,Europe,1,London,51.5085,-0.1257,479373,89.0,47425.607680,631666,NaN,1.63,1.89
2015-01-01,34,United Kingdom,1,Europe,1,London,51.5085,-0.1257,522954,89.0,44974.831880,632327,NaN,1.74,1.81
2016-01-01,35,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505190,89.0,41064.133430,747425,NaN,1.60,1.69
2017-01-01,36,United Kingdom,1,Europe,1,London,51.5085,-0.1257,487570,90.0,40361.417380,815059,NaN,1.41,1.68
2018-01-01,37,United Kingdom,1,Europe,1,London,51.5085,-0.1257,496622,89.0,43043.227820,796564,NaN,1.34,1.64
2019-01-01,38,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505088,NaN,42330.117540,851414,NaN,1.44,1.60

In [3]:
UK_df_complete = UK_df.interpolate(method="time", limit_direction="both")
UK_df_complete
# UK_df_complete.to_csv("Resources/individual_country_complete/1_UK_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,United Kingdom,1,Europe,1,London,51.5085,-0.1257,28447,78.0,9146.077357,27537,38.1034,1.88,1.63
1983-01-01,2,United Kingdom,1,Europe,1,London,51.5085,-0.1257,32152,78.0,8691.518813,28086,46.1251,1.88,1.63
1984-01-01,3,United Kingdom,1,Europe,1,London,51.5085,-0.1257,38387,78.0,8179.194441,29265,51.2264,1.88,1.63
1985-01-01,4,United Kingdom,1,Europe,1,London,51.5085,-0.1257,43555,78.0,8652.216542,34066,72.2432,1.88,1.63
1986-01-01,5,United Kingdom,1,Europe,1,London,51.5085,-0.1257,55935,78.0,10611.112210,36974,78.6257,1.88,1.63
1987-01-01,6,United Kingdom,1,Europe,1,London,51.5085,-0.1257,75519,79.0,13118.586530,46489,91.2165,1.88,1.63
1988-01-01,7,United Kingdom,1,Europe,1,London,51.5085,-0.1257,95698,78.0,15987.168080,51734,78.1793,1.88,1.63
1989-01-01,8,United Kingdom,1,Europe,1,London,51.5085,-0.1257,103458,78.0,16239.282200,67722,87.8556,1.88,1.63
1990-01-01,9,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98676,78.0,19095.467000,72707,77.7416,1.88,1.63
1991-01-01,10,United Kingdom,1,Europe,1,London,51.5085,-0.1257,100085,79.0,19900.726650,79819,86.6224,1.88,1.63
1992-01-01,11,United Kingdom,1,Europe,1,London,51.5085,-0.1257,86587,80.0,20487.170790,85176,80.9456,1.88,1.63
1993-01-01,12,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98739,81.0,18389.019570,109208,108.3753,1.88,1.63
1994-01-01,13,United Kingdom,1,Europe,1,London,51.5085,-0.1257,98732,82.0,19709.238100,100817,100.2490,1.88,1.63
1995-01-01,14,United Kingdom,1,Europe,1,London,51.5085,-0.1257,116272,82.0,23123.177790,106332,99.1318,1.88,1.63
1996-01-01,15,United Kingdom,1,Europe,1,London,51.5085,-0.1257,121582,82.0,24332.697770,134559,120.9042,1.88,1.63
1997-01-01,16,United Kingdom,1,Europe,1,London,51.5085,-0.1257,129421,82.0,26734.562610,154462,132.6583,1.91,1.70
1998-01-01,17,United Kingdom,1,Europe,1,London,51.5085,-0.1257,137489,83.0,28214.274360,183035,139.2370,1.93,1.78
1999-01-01,18,United Kingdom,1,Europe,1,London,51.5085,-0.1257,153797,84.0,28669.539690,216638,175.6310,1.89,1.74
2000-01-01,19,United Kingdom,1,Europe,1,London,51.5085,-0.1257,277613,86.0,28149.870010,230762,155.4449,1.85,1.70
2001-01-01,20,United Kingdom,1,Europe,1,London,51.5085,-0.1257,197651,86.0,27744.506460,228230,131.0475,1.84,1.69
2002-01-01,21,United Kingdom,1,Europe,1,London,51.5085,-0.1257,211699,86.0,30056.586220,247952,104.0191,1.84,1.68
2003-01-01,22,United Kingdom,1,Europe,1,London,51.5085,-0.1257,217841,87.0,34419.147910,277246,118.1588,1.81,1.70
2004-01-01,23,United Kingdom,1,Europe,1,London,51.5085,-0.1257,267209,87.0,40290.313970,330416,116.5084,1.89,1.63
2005-01-01,24,United Kingdom,1,Europe,1,London,51.5085,-0.1257,371350,87.0,42030.286610,351513,120.4635,1.77,1.57
2006-01-01,25,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414629,87.0,44599.697570,406358,139.3407,1.67,1.79
2007-01-01,26,United Kingdom,1,Europe,1,London,51.5085,-0.1257,405543,88.0,50566.826600,426357,124.0441,1.65,1.74
2008-01-01,27,United Kingdom,1,Europe,1,London,51.5085,-0.1257,447529,88.0,47286.998490,448412,63.9195,1.64,1.71
2009-01-01,28,United Kingdom,1,Europe,1,London,51.5085,-0.1257,414590,88.0,38713.137430,495382,94.0055,1.51,1.74
2010-01-01,29,United Kingdom,1,Europe,1,London,51.5085,-0.1257,400435,88.0,39435.839900,501247,121.7870,1.57,1.76
2011-01-01,30,United Kingdom,1,Europe,1,London,51.5085,-0.1257,446077,89.0,42038.572250,485029,118.6890,1.56,1.65
2012-01-01,31,United Kingdom,1,Europe,1,London,51.5085,-0.1257,485785,89.0,42462.771570,537041,112.1110,1.55,1.72
2013-01-01,32,United Kingdom,1,Europe,1,London,51.5085,-0.1257,510795,89.0,43444.533000,537714,112.1110,1.50,1.71
2014-01-01,33,United Kingdom,1,Europe,1,London,51.5085,-0.1257,479373,89.0,47425.607680,631666,112.1110,1.63,1.89
2015-01-01,34,United Kingdom,1,Europe,1,London,51.5085,-0.1257,522954,89.0,44974.831880,632327,112.1110,1.74,1.81
2016-01-01,35,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505190,89.0,41064.133430,747425,112.1110,1.60,1.69
2017-01-01,36,United Kingdom,1,Europe,1,London,51.5085,-0.1257,487570,90.0,40361.417380,815059,112.1110,1.41,1.68
2018-01-01,37,United Kingdom,1,Europe,1,London,51.5085,-0.1257,496622,89.0,43043.227820,796564,112.1110,1.34,1.64
2019-01-01,38,United Kingdom,1,Europe,1,London,51.5085,-0.1257,505088,89.0,42330.117540,851414,112.1110,1.44,1.60

In [4]:
Austria_df = pd.read_csv("Resources/individual_country_missing/2_Austria.csv", parse_dates=["year"])
Austria_df.set_index("year", inplace=True)
Austria_df_complete = Austria_df.interpolate(method="time", limit_direction='both')
Austria_df_complete
# Austria_df_complete.to_csv("Resources/individual_country_complete/2_Austria_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,73.0,9410.347257,562,2.1181,1.73,1.81
1983-01-01,2,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,73.0,9537.407420,548,2.1189,1.73,1.81
1984-01-01,3,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,74.0,8991.065040,534,2.1853,1.73,1.81
1985-01-01,4,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,76.0,9172.096760,509,6.6318,1.73,1.81
1986-01-01,5,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,76.0,13083.072660,736,6.7212,1.73,1.81
1987-01-01,6,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,245.0,75.0,16392.769520,711,6.3935,1.73,1.81
1988-01-01,7,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,392.0,75.0,17578.618940,697,7.5224,1.73,1.81
1989-01-01,8,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,386.0,75.0,17468.946140,962,18.2280,1.73,1.81
1990-01-01,9,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,625.0,75.0,21680.989620,1113,15.8111,1.73,1.81
1991-01-01,10,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,573.0,79.0,22410.911770,1268,13.9429,1.73,1.81
1992-01-01,11,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,583.0,79.0,24880.164120,1371,10.1240,1.73,1.81
1993-01-01,12,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,638.0,80.0,24081.527790,1312,13.7820,1.73,1.81
1994-01-01,13,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,769.0,80.0,25646.700660,2197,14.1596,1.73,1.81
1995-01-01,14,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,1553.0,81.0,30325.849580,2829,12.7023,1.73,1.81
1996-01-01,15,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,1784.0,83.0,29809.076770,2854,13.4518,1.73,1.81
1997-01-01,16,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2363.0,84.0,26705.478600,2646,17.3034,1.80,1.83
1998-01-01,17,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2618.0,84.0,27361.875110,3856,1.1913,1.87,1.85
1999-01-01,18,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3216.0,85.0,27174.297160,3848,15.2049,1.90,1.84
2000-01-01,19,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3007.0,86.0,24564.458290,2872,15.2110,1.93,1.84
2001-01-01,20,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2743.0,87.0,24537.514260,3964,12.7722,1.94,1.87
2002-01-01,21,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3596.0,86.0,26401.745460,4011,15.7365,1.94,1.89
2003-01-01,22,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3606.0,86.0,32222.897240,6366,21.5985,2.00,1.89
2004-01-01,23,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,3572.0,87.0,36821.521470,9264,29.1708,1.87,1.84
2005-01-01,24,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2425.0,87.0,38403.133880,11236,39.9562,1.68,1.86
2006-01-01,25,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,2305.0,87.0,40635.281820,14897,57.3724,1.83,1.91
2007-01-01,26,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4410.0,88.0,46855.771750,14646,60.8319,1.87,1.96
2008-01-01,27,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4251.0,88.0,51708.765750,13546,17.7294,1.78,1.92
2009-01-01,28,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4622.0,88.0,47963.179400,10954,28.5067,1.67,1.78
2010-01-01,29,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4532.0,88.0,46858.043270,11485,32.1598,1.84,1.80
2011-01-01,30,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,4861.0,88.0,51374.958410,12556,19.7786,1.62,1.80
2012-01-01,31,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,5286.0,88.0,48567.695290,14327,25.8989,1.58,1.86
2013-01-01,32,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,5976.0,88.0,50716.708710,15630,27.3611,1.59,1.85
2014-01-01,33,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,6962.0,89.0,51717.495940,10171,21.8985,1.57,1.95
2015-01-01,34,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,7159.0,88.0,44178.047380,6508,25.1637,1.48,1.86
2016-01-01,35,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,10655.0,88.0,45276.831440,7566,30.5830,1.51,1.81
2017-01-01,36,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,13160.0,89.0,47426.511960,7987,36.1055,1.46,1.81
2018-01-01,37,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,12392.0,89.0,51478.285260,6740,25.6654,1.45,1.87
2019-01-01,38,Austria,2,Europe,1,Wien (Vienna),48.2064,16.3707,13964.0,89.0,50137.662780,7643,29.9046,1.49,1.88

In [5]:
Belgium_df = pd.read_csv("Resources/individual_country_missing/3_Belgium.csv", parse_dates=["year"])
Belgium_df.set_index("year", inplace=True)
Belgium_df_complete = Belgium_df.interpolate(method="time", limit_direction='both')
Belgium_df_complete
# Belgium_df_complete.to_csv("Resources/individual_country_complete/3_Belgium_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,1904,79.0,9343.861100,5549,9.3003,1.71,1.37
1983-01-01,2,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2261,80.0,8846.234298,5087,12.3635,1.71,1.37
1984-01-01,3,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2548,81.0,8457.268803,5202,14.8076,1.71,1.37
1985-01-01,4,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2291,81.0,8750.818513,5619,24.1935,1.71,1.37
1986-01-01,5,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,2487,81.0,12170.040700,5568,31.1091,1.71,1.37
1987-01-01,6,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3371,80.0,15135.852310,7719,27.8779,1.71,1.37
1988-01-01,7,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3471,80.0,16391.093830,7830,36.2208,1.71,1.37
1989-01-01,8,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3799,80.0,16525.061740,7710,45.5947,1.71,1.37
1990-01-01,9,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3900,80.0,20600.375280,9464,31.8748,1.71,1.37
1991-01-01,10,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3228,82.0,21041.660650,10611,33.7814,1.71,1.37
1992-01-01,11,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4165,84.0,23372.619170,11381,27.3041,1.71,1.37
1993-01-01,12,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,3870,84.0,22283.936020,11697,34.6988,1.71,1.37
1994-01-01,13,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4331,85.0,24208.554790,14714,34.3530,1.71,1.37
1995-01-01,14,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4397,85.0,28413.826440,18706,35.2129,1.71,1.37
1996-01-01,15,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,4658,85.0,27489.555180,18740,42.5506,1.71,1.37
1997-01-01,16,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,6199,86.0,24820.938050,17337,54.1867,1.78,1.31
1998-01-01,17,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,9929,85.0,25338.443290,17899,94.3950,1.84,1.25
1999-01-01,18,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,11011,86.0,25244.275050,21756,71.3265,1.79,1.30
2000-01-01,19,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,14787,87.0,23041.534730,17973,77.2553,1.73,1.34
2001-01-01,20,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,15623,87.0,22995.157520,22589,70.1116,1.86,1.36
2002-01-01,21,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,9777,86.0,24887.561330,25727,49.6024,1.98,1.37
2003-01-01,22,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,11239,87.0,30587.668410,27415,54.6826,1.93,1.37
2004-01-01,23,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,12581,87.0,35364.375330,41840,74.1438,1.88,1.33
2005-01-01,24,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,10024,87.0,36795.976880,49306,74.8192,1.71,1.27
2006-01-01,25,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,11691,88.0,38672.705940,51862,97.1195,1.75,1.24
2007-01-01,26,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,23471,89.0,44262.896000,62491,81.9760,1.61,1.33
2008-01-01,27,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,23379,89.0,48106.892920,65279,32.4555,1.39,1.35
2009-01-01,28,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,36292,89.0,44583.544810,46610,53.9671,1.57,1.38
2010-01-01,29,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,69565,89.0,44141.878140,43975,55.8739,1.58,1.39
2011-01-01,30,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,78767,89.0,47348.525020,50984,43.8769,1.66,1.42
2012-01-01,31,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,102705,89.0,44673.115880,49144,60.3645,1.60,1.43
2013-01-01,32,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,91413,89.0,46744.662540,51966,71.7590,1.61,1.44
2014-01-01,33,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,97038,90.0,47700.540360,48242,70.7951,1.38,1.52
2015-01-01,34,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,88121,90.0,40991.808140,48096,89.7018,1.44,1.46
2016-01-01,35,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,94462,90.0,41984.103030,49692,79.4856,1.33,1.39
2017-01-01,36,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,76009,90.0,44192.623030,53645,87.0888,1.18,1.34
2018-01-01,37,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,64661,90.0,47583.074940,61271,59.0534,1.17,1.37
2019-01-01,38,Belgium,3,Europe,1,Bruxelles-Brussel,50.8467,4.3499,65918,90.0,46420.663770,63157,59.0534,1.03,1.36

In [6]:
Denmark_df = pd.read_csv("Resources/individual_country_missing/4_Denmark.csv", parse_dates=["year"])
Denmark_df.set_index("year", inplace=True)
Denmark_df_complete = Denmark_df.interpolate(method="time", limit_direction='both')
Denmark_df_complete
# Denmark_df_complete.to_csv("Resources/individual_country_complete/4_Denmark_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,498.0,77.0,11804.43289,1155,9.1790,1.76,1.82
1983-01-01,2,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,498.0,77.0,11857.89214,1275,17.4079,1.76,1.82
1984-01-01,3,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,498.0,77.0,11562.91908,1263,12.8383,1.76,1.82
1985-01-01,4,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,498.0,79.0,12253.10021,1383,24.0930,1.76,1.82
1986-01-01,5,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,498.0,78.0,17201.08881,1164,19.7116,1.76,1.82
1987-01-01,6,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,498.0,78.0,21340.72786,1120,18.5902,1.76,1.82
1988-01-01,7,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,588.0,79.0,22527.04673,1182,23.2655,1.76,1.82
1989-01-01,8,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,656.0,77.0,21901.05475,1454,35.7835,1.76,1.82
1990-01-01,9,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,819.0,78.0,26891.44645,1726,28.2555,1.76,1.82
1991-01-01,10,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,448.0,80.0,27011.37746,1940,32.1728,1.76,1.82
1992-01-01,11,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,571.0,81.0,29569.66036,1676,21.2462,1.76,1.82
1993-01-01,12,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,1110.0,81.0,27597.97523,1735,27.8873,1.76,1.82
1994-01-01,13,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,2429.0,82.0,29995.57962,2030,30.0990,1.76,1.82
1995-01-01,14,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,3444.0,83.0,35351.36546,2161,30.3891,1.76,1.82
1996-01-01,15,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,2626.0,83.0,35650.71409,2554,37.8822,1.76,1.82
1997-01-01,16,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,2858.0,84.0,32835.93994,2385,54.0360,1.87,1.85
1998-01-01,17,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,3294.0,84.0,33368.14242,2764,55.8644,1.98,1.88
1999-01-01,18,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,5215.0,84.0,33440.79481,3846,54.7594,1.98,1.86
2000-01-01,19,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,4025.0,86.0,30743.54768,5270,68.1162,1.98,1.84
2001-01-01,20,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,1857.0,87.0,30751.65435,5160,51.6686,2.03,1.88
2002-01-01,21,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,4215.0,86.0,33228.69354,6184,42.9646,2.09,1.92
2003-01-01,22,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,4531.0,86.0,40458.77740,5597,55.7740,2.15,1.96
2004-01-01,23,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,5064.0,86.0,46511.59833,6815,60.2093,2.31,1.95
2005-01-01,24,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,6117.0,87.0,48799.82560,6914,62.5294,2.12,1.95
2006-01-01,25,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,6726.0,87.0,52026.99951,5849,72.7997,2.23,2.00
2007-01-01,26,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,5761.0,89.0,58487.05497,8950,83.0217,2.35,2.01
2008-01-01,27,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,5537.0,88.0,64322.06350,10481,61.6847,2.25,1.97
2009-01-01,28,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,6806.0,87.0,58163.27688,13053,48.9679,2.23,1.92
2010-01-01,29,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,7772.0,88.0,58041.39844,11802,64.4109,2.10,1.90
2011-01-01,30,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,7470.0,88.0,61753.64713,14942,62.4303,2.10,1.92
2012-01-01,31,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,7732.0,87.0,58507.50805,14306,61.1841,1.98,1.87
2013-01-01,32,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,9913.0,87.0,61191.19370,13397,61.1841,1.99,1.90
2014-01-01,33,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,13322.0,88.0,62548.98473,16497,61.1841,1.82,2.10
2015-01-01,34,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,14509.0,88.0,53254.85637,15794,61.1841,1.85,2.04
2016-01-01,35,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,18920.0,88.0,54663.99837,16909,61.1841,1.88,1.91
2017-01-01,36,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,18617.0,88.0,57610.09818,12107,61.1841,1.80,1.86
2018-01-01,37,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,20654.0,88.0,61598.53670,9498,61.1841,1.87,1.83
2019-01-01,38,Denmark,4,Europe,1,Kbenhavn (Copenhagen),55.6759,12.5655,23870.0,88.0,60170.34264,8992,61.1841,1.94,1.90

In [7]:
Finland_df = pd.read_csv("Resources/individual_country_missing/5_Finland.csv", parse_dates=["year"])
Finland_df.set_index("year", inplace=True)
Finland_df_complete = Finland_df.interpolate(method="time", limit_direction='both')
Finland_df_complete
# Finland_df_complete.to_csv("Resources/individual_country_complete/5_Finland_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,70.0,10938.12206,178,5.2264,1.72,1.91
1983-01-01,2,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,70.0,10497.48000,199,8.1096,1.72,1.91
1984-01-01,3,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,72.0,10833.86629,193,9.2939,1.72,1.91
1985-01-01,4,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,73.0,11398.10595,268,10.4783,1.72,1.91
1986-01-01,5,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,72.0,14951.04679,306,15.9006,1.72,1.91
1987-01-01,6,Finland,5,Europe,1,Helsinki,60.1692,24.9402,295.0,73.0,18571.05993,404,21.8190,1.72,1.91
1988-01-01,7,Finland,5,Europe,1,Helsinki,60.1692,24.9402,452.0,72.0,22047.79332,426,28.0116,1.72,1.91
1989-01-01,8,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1297.0,70.0,23973.23948,485,25.8708,1.72,1.91
1990-01-01,9,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1504.0,71.0,28364.64508,544,16.0645,1.72,1.91
1991-01-01,10,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1416.0,74.0,25484.73929,386,11.1129,1.72,1.91
1992-01-01,11,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1767.0,75.0,22319.05946,343,10.6225,1.72,1.91
1993-01-01,12,Finland,5,Europe,1,Helsinki,60.1692,24.9402,1617.0,77.0,17608.81239,414,26.3687,1.72,1.91
1994-01-01,13,Finland,5,Europe,1,Helsinki,60.1692,24.9402,2016.0,78.0,20301.33309,761,37.0092,1.72,1.91
1995-01-01,14,Finland,5,Europe,1,Helsinki,60.1692,24.9402,2710.0,79.0,26271.59981,965,32.8919,1.72,1.91
1996-01-01,15,Finland,5,Europe,1,Helsinki,60.1692,24.9402,2950.0,80.0,25783.45049,1070,46.4366,1.72,1.91
1997-01-01,16,Finland,5,Europe,1,Helsinki,60.1692,24.9402,3892.0,81.0,24691.87281,1311,58.1538,1.87,1.95
1998-01-01,17,Finland,5,Europe,1,Helsinki,60.1692,24.9402,3949.0,82.0,26009.26949,1628,115.5133,2.02,2.00
1999-01-01,18,Finland,5,Europe,1,Helsinki,60.1692,24.9402,4816.0,82.0,26177.34798,1379,258.3920,2.07,1.99
2000-01-01,19,Finland,5,Europe,1,Helsinki,60.1692,24.9402,8875.0,84.0,24285.46682,1342,233.5870,2.12,1.98
2001-01-01,20,Finland,5,Europe,1,Helsinki,60.1692,24.9402,7620.0,85.0,24946.18919,1686,147.1599,2.14,1.96
2002-01-01,21,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6133.0,84.0,26869.67490,1722,99.3516,2.16,1.94
2003-01-01,22,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5300.0,84.0,32855.13263,1677,99.4266,2.26,2.00
2004-01-01,23,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5639.0,85.0,37702.84538,2208,93.2266,2.17,1.96
2005-01-01,24,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5938.0,84.0,39040.28888,1950,96.4367,2.13,1.96
2006-01-01,25,Finland,5,Europe,1,Helsinki,60.1692,24.9402,7129.0,85.0,41188.09370,2107,110.2650,2.17,1.97
2007-01-01,26,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5308.0,87.0,48414.84509,2202,129.2650,1.97,1.91
2008-01-01,27,Finland,5,Europe,1,Helsinki,60.1692,24.9402,7613.0,87.0,53554.03892,2012,98.8876,2.05,1.92
2009-01-01,28,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5415.0,86.0,47293.99283,1659,47.1516,2.23,1.97
2010-01-01,29,Finland,5,Europe,1,Helsinki,60.1692,24.9402,4943.0,86.0,46459.97325,1597,41.2719,2.23,1.97
2011-01-01,30,Finland,5,Europe,1,Helsinki,60.1692,24.9402,5213.0,86.0,51081.99767,2123,49.0120,2.24,1.95
2012-01-01,31,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6087.0,87.0,47710.79022,2007,57.2164,2.22,1.95
2013-01-01,32,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6852.0,86.0,49878.04324,1919,57.2164,2.17,1.94
2014-01-01,33,Finland,5,Europe,1,Helsinki,60.1692,24.9402,4284.0,87.0,50260.29986,2765,57.2164,2.00,2.10
2015-01-01,34,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6471.0,87.0,42784.69836,1258,57.2164,1.81,2.06
2016-01-01,35,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6118.0,87.0,43784.28396,2538,57.2164,1.83,2.02
2017-01-01,36,Finland,5,Europe,1,Helsinki,60.1692,24.9402,6928.0,88.0,46336.66325,2513,57.2164,1.94,2.03
2018-01-01,37,Finland,5,Europe,1,Helsinki,60.1692,24.9402,14464.0,88.0,50030.87731,3268,57.2164,1.98,2.05
2019-01-01,38,Finland,5,Europe,1,Helsinki,60.1692,24.9402,14826.0,88.0,48782.78848,3745,57.2164,1.93,2.02

In [8]:
France_df = pd.read_csv("Resources/individual_country_missing/6_France.csv", parse_dates=["year"])
France_df.set_index("year", inplace=True)
France_df_complete = France_df.interpolate(method="time", limit_direction='both')
France_df_complete
# Finland_df_complete.to_csv("Resources/individual_country_complete/6_France_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,France,6,Europe,1,Paris,48.8534,2.3488,5708,73.0,10496.929870,7391,5.068743,1.25,1.48
1983-01-01,2,France,6,Europe,1,Paris,48.8534,2.3488,5726,75.0,9993.422074,6613,6.812249,1.25,1.48
1984-01-01,3,France,6,Europe,1,Paris,48.8534,2.3488,6591,75.0,9419.697648,6434,7.736850,1.25,1.48
1985-01-01,4,France,6,Europe,1,Paris,48.8534,2.3488,6670,76.0,9763.328610,7747,14.299500,1.25,1.48
1986-01-01,5,France,6,Europe,1,Paris,48.8534,2.3488,7709,74.0,13540.247080,9323,19.902412,1.25,1.48
1987-01-01,6,France,6,Europe,1,Paris,48.8534,2.3488,10137,73.0,16302.441400,12335,16.654131,1.25,1.48
1988-01-01,7,France,6,Europe,1,Paris,48.8534,2.3488,13233,73.0,17679.997000,13576,21.876940,1.25,1.48
1989-01-01,8,France,6,Europe,1,Paris,48.8534,2.3488,15365,74.0,17694.305350,16443,32.984058,1.25,1.48
1990-01-01,9,France,6,Europe,1,Paris,48.8534,2.3488,18650,74.0,21793.842650,19164,24.558169,1.25,1.48
1991-01-01,10,France,6,Europe,1,Paris,48.8534,2.3488,25078,77.0,21675.064250,21569,28.220282,1.25,1.48
1992-01-01,11,France,6,Europe,1,Paris,48.8534,2.3488,23918,78.0,23813.711840,25157,23.358399,1.25,1.48
1993-01-01,12,France,6,Europe,1,Paris,48.8534,2.3488,30304,79.0,22380.103960,24312,34.471180,1.25,1.48
1994-01-01,13,France,6,Europe,1,Paris,48.8534,2.3488,32950,79.0,23496.523320,27322,32.462438,1.25,1.48
1995-01-01,14,France,6,Europe,1,Paris,48.8534,2.3488,36167,79.0,26890.219880,33358,31.225108,1.25,1.48
1996-01-01,15,France,6,Europe,1,Paris,48.8534,2.3488,43253,78.0,26871.829020,35200,36.490340,1.25,1.48
1997-01-01,16,France,6,Europe,1,Paris,48.8534,2.3488,50141,80.0,24228.942350,36630,46.418319,1.38,1.44
1998-01-01,17,France,6,Europe,1,Paris,48.8534,2.3488,59925,81.0,24974.272200,42328,65.545963,1.51,1.40
1999-01-01,18,France,6,Europe,1,Paris,48.8534,2.3488,89945,81.0,24673.198970,43120,100.690332,1.61,1.43
2000-01-01,19,France,6,Europe,1,Paris,48.8534,2.3488,125740,83.0,22364.029390,42628,106.194549,1.71,1.46
2001-01-01,20,France,6,Europe,1,Paris,48.8534,2.3488,154984,83.0,22433.555710,40125,85.339091,1.66,1.35
2002-01-01,21,France,6,Europe,1,Paris,48.8534,2.3488,133914,83.0,24177.335170,43348,64.714160,1.60,1.24
2003-01-01,22,France,6,Europe,1,Paris,48.8534,2.3488,136434,83.0,29568.385950,51229,73.672343,1.71,1.37
2004-01-01,23,France,6,Europe,1,Paris,48.8534,2.3488,137927,84.0,33741.265150,63359,73.690900,1.78,1.44
2005-01-01,24,France,6,Europe,1,Paris,48.8534,2.3488,114260,84.0,34760.187770,60526,80.073417,1.67,1.42
2006-01-01,25,France,6,Europe,1,Paris,48.8534,2.3488,147799,84.0,36443.623440,63008,104.729510,1.63,1.47
2007-01-01,26,France,6,Europe,1,Paris,48.8534,2.3488,141487,86.0,41508.433990,74179,103.128389,1.47,1.47
2008-01-01,27,France,6,Europe,1,Paris,48.8534,2.3488,141922,86.0,45334.114440,84409,50.452834,1.58,1.51
2009-01-01,28,France,6,Europe,1,Paris,48.8534,2.3488,158924,85.0,41575.418750,90879,72.342912,1.48,1.45
2010-01-01,29,France,6,Europe,1,Paris,48.8534,2.3488,189763,86.0,40638.334000,78320,72.334386,1.43,1.52
2011-01-01,30,France,6,Europe,1,Paris,48.8534,2.3488,197785,86.0,43790.732050,76283,54.307420,1.36,1.45
2012-01-01,31,France,6,Europe,1,Paris,48.8534,2.3488,214712,87.0,40874.703510,75185,67.373564,1.34,1.45
2013-01-01,32,France,6,Europe,1,Paris,48.8534,2.3488,197338,87.0,42592.934090,78667,81.857758,1.48,1.43
2014-01-01,33,France,6,Europe,1,Paris,48.8534,2.3488,202682,88.0,43011.263100,77738,73.133751,1.40,1.47
2015-01-01,34,France,6,Europe,1,Paris,48.8534,2.3488,233547,87.0,36638.184930,81274,85.649682,1.44,1.41
2016-01-01,35,France,6,Europe,1,Paris,48.8534,2.3488,255595,88.0,37037.374190,72926,87.365321,1.41,1.41
2017-01-01,36,France,6,Europe,1,Paris,48.8534,2.3488,266570,87.0,38812.161030,78632,105.940446,1.35,1.44
2018-01-01,37,France,6,Europe,1,Paris,48.8534,2.3488,268169,88.0,41631.090740,68035,84.866058,1.48,1.44
2019-01-01,38,France,6,Europe,1,Paris,48.8534,2.3488,282226,88.0,40493.928570,83826,84.866058,1.38,1.41

In [9]:
Germany_df = pd.read_csv("Resources/individual_country_missing/7_Germany.csv", parse_dates=["year"])
Germany_df.set_index("year", inplace=True)
Germany_df_complete = Germany_df.interpolate(method="time", limit_direction='both')
Germany_df_complete
# Germany_df_complete.to_csv("Resources/individual_country_complete/7_Germany_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Germany,7,Europe,1,Berlin,52.5244,13.4105,9850,72.0,9913.737642,15463,8.879110,1.72,1.61
1983-01-01,2,Germany,7,Europe,1,Berlin,52.5244,13.4105,10845,72.0,9864.344940,15451,10.752719,1.72,1.61
1984-01-01,3,Germany,7,Europe,1,Berlin,52.5244,13.4105,12330,72.0,9313.169412,15055,10.807746,1.72,1.61
1985-01-01,4,Germany,7,Europe,1,Berlin,52.5244,13.4105,14816,73.0,9429.569217,17176,24.337930,1.72,1.61
1986-01-01,5,Germany,7,Europe,1,Berlin,52.5244,13.4105,17250,73.0,13461.831000,21476,24.628429,1.72,1.61
1987-01-01,6,Germany,7,Europe,1,Berlin,52.5244,13.4105,21905,73.0,16677.510790,25128,16.828493,1.72,1.61
1988-01-01,7,Germany,7,Europe,1,Berlin,52.5244,13.4105,25250,72.0,17931.282320,22784,17.903304,1.72,1.61
1989-01-01,8,Germany,7,Europe,1,Berlin,52.5244,13.4105,28386,71.0,17764.376450,23673,26.103214,1.72,1.61
1990-01-01,9,Germany,7,Europe,1,Berlin,52.5244,13.4105,28232,74.0,22303.961330,27609,20.055120,1.72,1.61
1991-01-01,10,Germany,7,Europe,1,Berlin,52.5244,13.4105,29335,76.0,23357.757730,32411,19.829913,1.72,1.61
1992-01-01,11,Germany,7,Europe,1,Berlin,52.5244,13.4105,29419,77.0,26438.230390,33003,15.420176,1.72,1.61
1993-01-01,12,Germany,7,Europe,1,Berlin,52.5244,13.4105,34987,77.0,25522.629570,36811,21.324345,1.72,1.61
1994-01-01,13,Germany,7,Europe,1,Berlin,52.5244,13.4105,39630,77.0,27076.606750,38878,22.638329,1.72,1.61
1995-01-01,14,Germany,7,Europe,1,Berlin,52.5244,13.4105,46017,77.0,31658.349380,44242,22.328697,1.72,1.61
1996-01-01,15,Germany,7,Europe,1,Berlin,52.5244,13.4105,61096,78.0,30485.866550,41281,26.620673,1.72,1.61
1997-01-01,16,Germany,7,Europe,1,Berlin,52.5244,13.4105,68838,80.0,26964.049470,40726,37.307261,1.80,1.64
1998-01-01,17,Germany,7,Europe,1,Berlin,52.5244,13.4105,93289,80.0,27289.059360,47685,48.872578,1.88,1.66
1999-01-01,18,Germany,7,Europe,1,Berlin,52.5244,13.4105,112126,81.0,26725.915220,53399,65.270453,1.88,1.65
2000-01-01,19,Germany,7,Europe,1,Berlin,52.5244,13.4105,122412,84.0,23635.929220,55508,65.370465,1.89,1.64
2001-01-01,20,Germany,7,Europe,1,Berlin,52.5244,13.4105,162314,84.0,23607.882860,63396,55.128062,1.80,1.65
2002-01-01,21,Germany,7,Europe,1,Berlin,52.5244,13.4105,138301,83.0,25077.729080,61073,33.162793,1.72,1.67
2003-01-01,22,Germany,7,Europe,1,Berlin,52.5244,13.4105,160691,84.0,30243.576530,72262,43.227990,1.42,1.67
2004-01-01,23,Germany,7,Europe,1,Berlin,52.5244,13.4105,164921,85.0,34044.053630,79467,42.521782,1.49,1.64
2005-01-01,24,Germany,7,Europe,1,Berlin,52.5244,13.4105,177176,86.0,34507.368810,100473,42.242431,1.51,1.66
2006-01-01,25,Germany,7,Europe,1,Berlin,52.5244,13.4105,205969,86.0,36323.447740,93620,54.729349,1.65,1.78
2007-01-01,26,Germany,7,Europe,1,Berlin,52.5244,13.4105,187815,88.0,41587.212900,100601,61.533377,1.64,1.77
2008-01-01,27,Germany,7,Europe,1,Berlin,52.5244,13.4105,173843,87.0,45427.151680,107833,29.774031,1.52,1.75
2009-01-01,28,Germany,7,Europe,1,Berlin,52.5244,13.4105,183966,87.0,41485.901650,110149,38.035161,1.58,1.66
2010-01-01,29,Germany,7,Europe,1,Berlin,52.5244,13.4105,203077,87.0,41531.934200,103319,42.095701,1.57,1.63
2011-01-01,30,Germany,7,Europe,1,Berlin,52.5244,13.4105,213601,87.0,46644.776030,119648,31.633838,1.55,1.62
2012-01-01,31,Germany,7,Europe,1,Berlin,52.5244,13.4105,197438,87.0,43858.363060,121072,42.136928,1.59,1.66
2013-01-01,32,Germany,7,Europe,1,Berlin,52.5244,13.4105,213256,87.0,46285.764070,111724,51.868185,1.54,1.65
2014-01-01,33,Germany,7,Europe,1,Berlin,52.5244,13.4105,251009,88.0,47959.993270,114421,44.762482,1.73,1.86
2015-01-01,34,Germany,7,Europe,1,Berlin,52.5244,13.4105,281295,88.0,41086.729670,120519,51.122765,1.74,1.79
2016-01-01,35,Germany,7,Europe,1,Berlin,52.5244,13.4105,277209,88.0,42107.517270,129985,49.489329,1.73,1.62
2017-01-01,36,Germany,7,Europe,1,Berlin,52.5244,13.4105,298754,89.0,44552.819370,132595,61.429996,1.72,1.61
2018-01-01,37,Germany,7,Europe,1,Berlin,52.5244,13.4105,328124,89.0,47810.507670,137148,44.280417,1.62,1.63
2019-01-01,38,Germany,7,Europe,1,Berlin,52.5244,13.4105,372879,89.0,46445.249100,148259,54.341020,1.59,1.62

In [10]:
Ireland_df = pd.read_csv("Resources/individual_country_missing/8_Ireland.csv", parse_dates=["year"])
Ireland_df.set_index("year", inplace=True)
Ireland_df_complete = Ireland_df.interpolate(method="time", limit_direction='both')
Ireland_df_complete
# Ireland_df_complete.to_csv("Resources/individual_country_complete/8_Ireland_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,544.0,72.0,6168.016444,2031,40.001700,1.67,1.50
1983-01-01,2,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,544.0,73.0,5922.325841,2517,40.001700,1.67,1.50
1984-01-01,3,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,544.0,73.0,5698.844161,2964,40.001700,1.67,1.50
1985-01-01,4,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,544.0,74.0,6018.935108,3762,40.001700,1.67,1.50
1986-01-01,5,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,544.0,74.0,8121.886183,4412,40.001700,1.67,1.50
1987-01-01,6,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,544.0,74.0,9593.388228,5530,40.001700,1.67,1.50
1988-01-01,7,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,725.0,73.0,10728.703640,6063,40.001700,1.67,1.50
1989-01-01,8,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,1416.0,72.0,11189.200750,4665,40.001700,1.67,1.50
1990-01-01,9,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,1340.0,72.0,14048.106280,5894,40.001700,1.67,1.50
1991-01-01,10,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,1863.0,74.0,14104.078430,6471,40.001700,1.67,1.50
1992-01-01,11,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,1818.0,75.0,15733.203830,7607,40.001700,1.67,1.50
1993-01-01,12,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,4771.0,76.0,14674.614410,9019,40.001700,1.67,1.50
1994-01-01,13,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,2974.0,77.0,15921.974780,7239,40.001700,1.67,1.50
1995-01-01,14,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,4749.0,78.0,19181.400620,7996,40.001700,1.67,1.50
1996-01-01,15,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,6437.0,80.0,20860.596960,10133,40.001700,1.67,1.50
1997-01-01,16,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,10394.0,81.0,22542.810710,11339,59.042362,1.74,1.57
1998-01-01,17,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,12198.0,82.0,24263.244890,21825,77.347772,1.80,1.63
1999-01-01,18,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,14958.0,82.0,26284.342090,25157,69.684599,1.74,1.60
2000-01-01,19,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,25523.0,83.0,26241.364610,35903,82.003029,1.67,1.57
2001-01-01,20,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,25632.0,84.0,28227.727460,39541,68.994974,1.65,1.60
2002-01-01,21,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,27302.0,83.0,32541.098550,51598,46.844516,1.63,1.63
2003-01-01,22,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,23346.0,83.0,41106.925150,60604,51.782293,1.56,1.52
2004-01-01,23,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,16446.0,84.0,47631.010690,72907,58.846146,1.54,1.53
2005-01-01,24,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,17465.0,84.0,50878.223670,55173,53.903463,1.74,1.60
2006-01-01,25,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,25517.0,84.0,54306.429320,86372,70.349470,1.54,1.72
2007-01-01,26,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,26089.0,85.0,61359.741230,117708,53.314448,1.56,1.75
2008-01-01,27,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,21270.0,84.0,61262.100460,150131,17.993786,1.50,1.72
2009-01-01,28,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,21044.0,85.0,52105.152480,129829,25.936041,1.34,1.75
2010-01-01,29,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,24097.0,86.0,48715.176910,158851,27.174723,1.35,1.77
2011-01-01,30,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,22448.0,86.0,51848.909700,184804,45.644541,1.46,1.76
2012-01-01,31,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,17801.0,86.0,48917.897610,212411,48.439738,1.55,1.73
2013-01-01,32,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,18981.0,86.0,51590.188590,220670,71.317245,1.49,1.73
2014-01-01,33,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,26431.0,86.0,55492.982560,273247,55.505391,1.60,1.78
2015-01-01,34,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,55861.0,86.0,61995.422800,337831,43.913870,1.53,1.77
2016-01-01,35,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,102251.0,86.0,63197.082400,399885,39.873310,1.33,1.52
2017-01-01,36,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,157846.0,86.0,69822.347080,457301,43.661077,1.29,1.43
2018-01-01,37,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,265004.0,86.0,78621.227930,410636,28.785406,1.42,1.46
2019-01-01,38,Ireland,8,Europe,1,Dublin,53.3331,-6.2489,225517.0,86.0,78660.956460,354940,28.785406,1.28,1.39

In [11]:
Italy_df = pd.read_csv("Resources/individual_country_missing/9_Italy.csv", parse_dates=["year"])
Italy_df.set_index("year", inplace=True)
Italy_df_complete = Italy_df.interpolate(method="time", limit_direction='both')
Italy_df_complete
# Italy_df_complete.to_csv("Resources/individual_country_complete/9_Italy_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1120,65.0,7556.523437,4316,18.368400,0.84,1.06
1983-01-01,2,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1238,65.0,7832.575387,4535,18.368400,0.84,1.06
1984-01-01,3,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1438,66.0,7739.715284,4745,18.368400,0.84,1.06
1985-01-01,4,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1237,67.0,7990.686566,6137,18.368400,0.84,1.06
1986-01-01,5,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1323,66.0,11315.015180,7745,18.368400,0.84,1.06
1987-01-01,6,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1310,66.0,14234.728640,9726,18.368400,0.84,1.06
1988-01-01,7,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,752,65.0,15744.661260,10046,18.368400,0.84,1.06
1989-01-01,8,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1436,67.0,16386.662210,11221,18.368400,0.84,1.06
1990-01-01,9,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1524,68.0,20825.784220,14063,18.368400,0.84,1.06
1991-01-01,10,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,3227,69.0,21956.529770,15085,18.368400,0.84,1.06
1992-01-01,11,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,1821,70.0,23243.474530,13015,18.368400,0.84,1.06
1993-01-01,12,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,2299,72.0,18738.763900,12748,18.368400,0.84,1.06
1994-01-01,13,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,2904,72.0,19337.630900,14808,18.368400,0.84,1.06
1995-01-01,14,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,3062,72.0,20664.552270,17096,18.368400,0.84,1.06
1996-01-01,15,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,3158,73.0,23081.604680,16193,18.368400,0.84,1.06
1997-01-01,16,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,2872,75.0,21829.345820,15547,23.327200,0.86,0.94
1998-01-01,17,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,3910,76.0,22318.137300,15548,35.862800,0.87,0.83
1999-01-01,18,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,4444,77.0,21997.624320,17889,58.165058,0.82,0.85
2000-01-01,19,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,6576,79.0,20087.591990,23484,67.174621,0.77,0.86
2001-01-01,20,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,6826,80.0,20483.215990,22883,45.198072,0.78,0.81
2002-01-01,21,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,6830,78.0,22270.144120,23771,37.543936,0.80,0.76
2003-01-01,22,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,6944,78.0,27465.675300,23092,39.058743,0.80,0.72
2004-01-01,23,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,6889,78.0,31259.716500,25184,43.786092,0.65,0.60
2005-01-01,24,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,7725,79.0,32043.140370,24528,42.964330,0.56,0.52
2006-01-01,25,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,9299,79.0,33501.658170,25435,52.697460,0.36,0.39
2007-01-01,26,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,13762,81.0,37822.665240,28216,48.524556,0.20,0.48
2008-01-01,27,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,19466,81.0,40778.342740,27663,21.764027,0.28,0.46
2009-01-01,28,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,18567,80.0,37079.758670,29944,26.330500,0.42,0.40
2010-01-01,29,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,20142,81.0,36000.520120,27137,27.353400,0.44,0.43
2011-01-01,30,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,21133,81.0,38599.062210,26896,21.931200,0.38,0.47
2012-01-01,31,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,22151,81.0,35053.526240,27317,21.338300,0.42,0.40
2013-01-01,32,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,24899,81.0,35549.974700,25829,26.198100,0.46,0.40
2014-01-01,33,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,23508,82.0,35518.415290,30154,27.996800,0.37,0.38
2015-01-01,34,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,27709,82.0,30230.226300,30869,27.996800,0.45,0.28
2016-01-01,35,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,30072,83.0,30939.714250,30573,27.996800,0.53,0.33
2017-01-01,36,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,29450,83.0,32406.720320,27617,27.996800,0.50,0.32
2018-01-01,37,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,30749,83.0,34615.756890,33080,27.996800,0.41,0.25
2019-01-01,38,Italy,9,Europe,1,Roma (Rome),41.8947,12.4811,32811,83.0,33228.236680,34900,27.996800,0.46,0.28

In [12]:
Luxembourg_df = pd.read_csv("Resources/individual_country_missing/10_Luxembourg.csv", parse_dates=["year"])
Luxembourg_df.set_index("year", inplace=True)
Luxembourg_df_complete = Luxembourg_df.interpolate(method="time", limit_direction='both')
Luxembourg_df_complete
# Luxembourg_df_complete.to_csv("Resources/individual_country_complete/10_Luxembourg_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,336,75.0,13034.81214,1098,33.625213,1.96,1.71
1983-01-01,2,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,297,76.0,12810.21883,1240,32.277274,1.96,1.71
1984-01-01,3,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,753,76.0,12554.41776,493,35.227598,1.96,1.71
1985-01-01,4,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,345,77.0,12921.95842,795,59.092218,1.96,1.71
1986-01-01,5,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,263,77.0,18789.65732,957,65.972918,1.96,1.71
1987-01-01,6,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,590,76.0,23234.56512,874,82.937563,1.96,1.71
1988-01-01,7,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,-131,75.0,26108.34455,1122,86.846974,1.96,1.71
1989-01-01,8,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,407,74.0,27556.36413,1560,99.582015,1.96,1.71
1990-01-01,9,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,2195,74.0,34645.14324,1697,79.033442,1.96,1.71
1991-01-01,10,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,734,76.0,37007.43753,1734,78.731293,1.96,1.71
1992-01-01,11,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,677,82.0,40965.74304,2031,73.655492,1.96,1.71
1993-01-01,12,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,1183,82.0,41479.08838,5611,117.159013,1.96,1.71
1994-01-01,13,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,2301,78.0,45481.89101,6310,155.618986,1.96,1.71
1995-01-01,14,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,5756,78.0,52831.25237,5929,140.940336,1.96,1.71
1996-01-01,15,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,3643,78.0,52571.93499,7753,148.837079,1.96,1.71
1997-01-01,16,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,11687,79.0,47042.34711,10258,171.718530,2.00,1.76
1998-01-01,17,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,26804,79.0,47584.46439,14571,188.934482,2.04,1.81
1999-01-01,18,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,35644,80.0,51654.40280,22148,161.624279,2.01,1.83
2000-01-01,19,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,58930,81.0,48735.99549,27849,159.975998,1.97,1.85
2001-01-01,20,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,95299,81.0,48179.42085,50771,106.759651,2.01,1.87
2002-01-01,21,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,97416,81.0,52930.64115,62181,103.957902,2.04,1.90
2003-01-01,22,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,109212,81.0,65445.88503,68298,126.307810,1.92,1.87
2004-01-01,23,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,116479,82.0,75716.35108,83634,144.567227,1.90,1.87
2005-01-01,24,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,79680,82.0,80289.69641,79937,137.220844,1.78,1.83
2006-01-01,25,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,89157,86.0,89739.71170,125146,187.468766,1.57,1.70
2007-01-01,26,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,123389,87.0,106018.49280,144180,326.358987,1.59,1.77
2008-01-01,27,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,130020,87.0,114293.84330,172251,119.275029,1.63,1.80
2009-01-01,28,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,138667,87.0,103198.66930,219082,204.491102,1.75,1.83
2010-01-01,29,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,170309,87.0,104965.30610,272206,190.046632,1.72,1.85
2011-01-01,30,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,172195,87.0,115761.50770,357898,112.703669,1.75,1.83
2012-01-01,31,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,202339,87.0,106749.01360,408205,124.101816,1.67,1.80
2013-01-01,32,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,223339,87.0,113625.13290,460029,127.375551,1.63,1.82
2014-01-01,33,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,232288,87.0,118823.64840,596105,95.557985,1.65,1.91
2015-01-01,34,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,350772,83.0,101376.49660,599001,81.620612,1.72,1.87
2016-01-01,35,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,371121,83.0,104278.39100,646508,100.360319,1.69,1.76
2017-01-01,36,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,382605,83.0,107627.15100,703066,106.944531,1.68,1.74
2018-01-01,37,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,312976,83.0,116654.26110,726121,69.772517,1.78,1.81
2019-01-01,38,Luxembourg,10,Europe,1,Luxembourg,49.6117,6.13,297052,83.0,114704.59420,766099,62.208931,1.73,1.79

In [13]:
Netherlands_df = pd.read_csv("Resources/individual_country_missing/11_Netherlands.csv", parse_dates=["year"])
Netherlands_df.set_index("year", inplace=True)
Netherlands_df_complete = Netherlands_df.interpolate(method="time", limit_direction='both')
Netherlands_df_complete
# Netherlands_df_complete.to_csv("Resources/individual_country_complete/11_Netherlands_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,26191,80.0,11072.658450,6760,16.224626,1.94,1.70
1983-01-01,2,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,29182,80.0,10680.359040,6917,21.989284,1.94,1.70
1984-01-01,3,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,33728,80.0,9977.160217,6207,24.616006,1.94,1.70
1985-01-01,4,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,37056,81.0,9926.129971,7552,41.268178,1.94,1.70
1986-01-01,5,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,40717,79.0,13783.850110,12203,41.677186,1.94,1.70
1987-01-01,6,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,46636,79.0,16709.559680,15507,35.546542,1.94,1.70
1988-01-01,7,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,48128,79.0,17744.501380,16765,41.273266,1.94,1.70
1989-01-01,8,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,56734,79.0,17397.691680,19160,59.792382,1.94,1.70
1990-01-01,9,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,64671,78.0,21290.860380,19120,37.641833,1.94,1.70
1991-01-01,10,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,63113,80.0,21732.230760,20293,51.632528,1.94,1.70
1992-01-01,11,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,69107,82.0,23904.037420,20700,47.041754,1.94,1.70
1993-01-01,12,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,72893,82.0,23122.410770,20911,51.408316,1.94,1.70
1994-01-01,13,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,66600,82.0,24646.314310,29889,59.082564,1.94,1.70
1995-01-01,14,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,65116,82.0,29258.134350,42113,63.376173,1.94,1.70
1996-01-01,15,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,75349,82.0,29006.809450,54118,83.322084,1.94,1.70
1997-01-01,16,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,84915,83.0,26700.537130,68619,112.431950,2.01,1.74
1998-01-01,17,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,92298,84.0,27885.808380,89978,137.710247,2.08,1.79
1999-01-01,18,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,125010,85.0,28263.096710,121315,155.304889,2.07,1.78
2000-01-01,19,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,138894,86.0,26149.411080,115429,153.792147,2.07,1.77
2001-01-01,20,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,145554,86.0,26873.275930,147687,116.652881,2.03,1.76
2002-01-01,21,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,145596,85.0,29204.039830,158415,85.083933,2.00,1.74
2003-01-01,22,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,146601,86.0,35672.206600,186366,84.425335,2.02,1.75
2004-01-01,23,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,159601,86.0,40362.394780,219384,81.966977,2.09,1.76
2005-01-01,24,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,156602,87.0,41979.055850,240205,86.533640,1.94,1.76
2006-01-01,25,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,182014,87.0,44863.350630,279373,106.300178,1.79,1.78
2007-01-01,26,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,184613,88.0,51733.442130,412122,112.823419,1.73,1.79
2008-01-01,27,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,179938,88.0,57644.479970,423059,41.004409,1.70,1.76
2009-01-01,28,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,206622,88.0,52514.027120,497471,64.417690,1.74,1.81
2010-01-01,29,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,234408,88.0,50950.034340,514689,78.092892,1.73,1.82
2011-01-01,30,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,222465,89.0,54159.346610,595658,65.772120,1.79,1.82
2012-01-01,31,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,244147,89.0,50073.005660,647365,77.572521,1.81,1.86
2013-01-01,32,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,237734,89.0,52184.061850,740740,93.262441,1.78,1.84
2014-01-01,33,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,258177,90.0,52830.174230,753546,88.281708,1.82,1.98
2015-01-01,34,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,298782,91.0,45175.231890,829693,95.193904,1.83,1.94
2016-01-01,35,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,313649,90.0,46007.852920,816667,102.832860,1.83,1.89
2017-01-01,36,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,348836,91.0,48675.222340,929746,131.927748,1.85,1.83
2018-01-01,37,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,462303,91.0,53044.532440,810238,131.927748,1.85,1.82
2019-01-01,38,Netherlands,11,Europe,1,Amsterdam,52.374,4.8897,487079,91.0,52331.316730,860528,131.927748,1.80,1.81

In [14]:
Norway_df = pd.read_csv("Resources/individual_country_missing/12_Norway.csv", parse_dates=["year"])
Norway_df.set_index("year", inplace=True)
Norway_df_complete = Norway_df.interpolate(method="time", limit_direction='both')
Norway_df_complete
# Norway_df_complete.to_csv("Resources/individual_country_complete/12_Norway_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Norway,12,Europe,1,Oslo,59.9127,10.7461,352.0,75.0,15224.89391,2735,3.824002,1.95,1.92
1983-01-01,2,Norway,12,Europe,1,Oslo,59.9127,10.7461,352.0,76.0,14927.51748,3099,7.440460,1.95,1.92
1984-01-01,3,Norway,12,Europe,1,Oslo,59.9127,10.7461,352.0,76.0,14989.48577,2850,93.342038,1.95,1.92
1985-01-01,4,Norway,12,Europe,1,Oslo,59.9127,10.7461,352.0,77.0,15753.55277,3235,15.382329,1.95,1.92
1986-01-01,5,Norway,12,Europe,1,Oslo,59.9127,10.7461,352.0,77.0,18883.26580,3247,12.845193,1.95,1.92
1987-01-01,6,Norway,12,Europe,1,Oslo,59.9127,10.7461,352.0,77.0,22505.89771,3873,12.615953,1.95,1.92
1988-01-01,7,Norway,12,Europe,1,Oslo,59.9127,10.7461,220.0,76.0,24207.28147,4429,15.461953,1.95,1.92
1989-01-01,8,Norway,12,Europe,1,Oslo,59.9127,10.7461,576.0,75.0,24281.09614,3447,24.636389,1.95,1.92
1990-01-01,9,Norway,12,Europe,1,Oslo,59.9127,10.7461,773.0,75.0,28242.94374,4209,21.812725,1.95,1.92
1991-01-01,10,Norway,12,Europe,1,Oslo,59.9127,10.7461,721.0,77.0,28596.93300,4318,18.049360,1.95,1.92
1992-01-01,11,Norway,12,Europe,1,Oslo,59.9127,10.7461,911.0,77.0,30523.98506,3825,13.635484,1.95,1.92
1993-01-01,12,Norway,12,Europe,1,Oslo,59.9127,10.7461,1217.0,79.0,27963.66522,3757,22.699743,1.95,1.92
1994-01-01,13,Norway,12,Europe,1,Oslo,59.9127,10.7461,1616.0,80.0,29315.84191,5026,28.678456,1.95,1.92
1995-01-01,14,Norway,12,Europe,1,Oslo,59.9127,10.7461,2172.0,80.0,34875.70433,4741,29.327826,1.95,1.92
1996-01-01,15,Norway,12,Europe,1,Oslo,59.9127,10.7461,2286.0,81.0,37321.97420,5483,34.783300,1.95,1.92
1997-01-01,16,Norway,12,Europe,1,Oslo,59.9127,10.7461,3122.0,82.0,36629.03090,6633,41.218888,1.97,1.96
1998-01-01,17,Norway,12,Europe,1,Oslo,59.9127,10.7461,3787.0,82.0,34788.35985,6897,30.111512,1.98,2.00
1999-01-01,18,Norway,12,Europe,1,Oslo,59.9127,10.7461,2854.0,82.0,36371.05095,5944,39.252013,1.94,1.93
2000-01-01,19,Norway,12,Europe,1,Oslo,59.9127,10.7461,2665.0,84.0,38131.46061,4379,38.408883,1.90,1.86
2001-01-01,20,Norway,12,Europe,1,Oslo,59.9127,10.7461,2574.0,84.0,38542.71510,4446,39.929019,1.90,1.87
2002-01-01,21,Norway,12,Europe,1,Oslo,59.9127,10.7461,3810.0,83.0,43084.47247,6045,32.819346,1.90,1.88
2003-01-01,22,Norway,12,Europe,1,Oslo,59.9127,10.7461,4203.0,83.0,50134.89077,7511,41.912320,1.90,1.92
2004-01-01,23,Norway,12,Europe,1,Oslo,59.9127,10.7461,2862.0,84.0,57603.83602,8491,53.468295,2.08,1.98
2005-01-01,24,Norway,12,Europe,1,Oslo,59.9127,10.7461,9810.0,83.0,66810.47852,8533,61.860888,1.86,1.92
2006-01-01,25,Norway,12,Europe,1,Oslo,59.9127,10.7461,10442.0,84.0,74148.32008,9667,81.269236,1.88,1.98
2007-01-01,26,Norway,12,Europe,1,Oslo,59.9127,10.7461,7317.0,85.0,85139.96045,12188,88.522561,2.02,1.95
2008-01-01,27,Norway,12,Europe,1,Oslo,59.9127,10.7461,11511.0,85.0,96944.09561,24706,31.564379,1.84,1.97
2009-01-01,28,Norway,12,Europe,1,Oslo,59.9127,10.7461,9866.0,85.0,79977.69708,24238,58.839691,1.84,1.88
2010-01-01,29,Norway,12,Europe,1,Oslo,59.9127,10.7461,10478.0,85.0,87693.79007,28541,68.870776,1.88,1.90
2011-01-01,30,Norway,12,Europe,1,Oslo,59.9127,10.7461,16530.0,85.0,100600.56240,32727,44.339501,1.84,1.87
2012-01-01,31,Norway,12,Europe,1,Oslo,59.9127,10.7461,18769.0,85.0,101524.14190,43326,47.647079,1.91,1.96
2013-01-01,32,Norway,12,Europe,1,Oslo,59.9127,10.7461,18470.0,85.0,102913.45080,40617,50.764466,1.88,1.98
2014-01-01,33,Norway,12,Europe,1,Oslo,59.9127,10.7461,19539.0,85.0,97019.18275,34808,44.013894,1.83,2.03
2015-01-01,34,Norway,12,Europe,1,Oslo,59.9127,10.7461,20641.0,86.0,74355.51586,31697,50.257898,1.86,2.01
2016-01-01,35,Norway,12,Europe,1,Oslo,59.9127,10.7461,24794.0,86.0,70459.18250,28657,62.701924,1.87,2.04
2017-01-01,36,Norway,12,Europe,1,Oslo,59.9127,10.7461,22800.0,86.0,75496.75406,26901,72.087489,1.98,2.02
2018-01-01,37,Norway,12,Europe,1,Oslo,59.9127,10.7461,26007.0,85.0,81734.46557,26145,61.585157,1.89,1.96
2019-01-01,38,Norway,12,Europe,1,Oslo,59.9127,10.7461,24221.0,85.0,75419.63487,25556,73.275969,1.86,1.98

In [15]:
Portugal_df = pd.read_csv("Resources/individual_country_missing/13_Portugal.csv", parse_dates=["year"])
Portugal_df.set_index("year", inplace=True)
Portugal_df_complete = Portugal_df.interpolate(method="time", limit_direction='both')
Portugal_df_complete
# Portugal_df_complete.to_csv("Resources/individual_country_complete/13_Portugal_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,15.0,59.0,3079.949566,277,0.302348,1.27,1.29
1983-01-01,2,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,14.0,60.0,2735.491066,222,0.338918,1.27,1.29
1984-01-01,3,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-4.0,61.0,2522.747476,210,0.310889,1.27,1.29
1985-01-01,4,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,0.0,61.0,2705.193002,243,0.786700,1.27,1.29
1986-01-01,5,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,18.0,60.0,3861.948433,302,4.725068,1.27,1.29
1987-01-01,6,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,16.0,59.0,4803.866095,528,29.278214,1.27,1.29
1988-01-01,7,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,18.0,59.0,5623.697000,583,12.758582,1.27,1.29
1989-01-01,8,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,7.0,59.0,6056.381028,740,17.494181,1.27,1.29
1990-01-01,9,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-19.0,60.0,7884.617988,897,11.955379,1.27,1.29
1991-01-01,10,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-15.0,63.0,8958.985333,1034,10.425737,1.27,1.29
1992-01-01,11,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,4.0,67.0,10810.566510,1290,9.058565,1.27,1.29
1993-01-01,12,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-2.0,70.0,9534.656364,1264,13.054597,1.27,1.29
1994-01-01,13,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,20.0,71.0,9977.319909,1181,16.310414,1.27,1.29
1995-01-01,14,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,23.0,72.0,11781.361850,1413,15.542387,1.27,1.29
1996-01-01,15,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-20.0,73.0,12185.091400,1423,19.963004,1.27,1.29
1997-01-01,16,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-32.0,74.0,11575.507110,1399,33.288868,1.22,1.28
1998-01-01,17,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-38.0,76.0,12199.206390,1360,50.791339,1.16,1.28
1999-01-01,18,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-48.0,76.0,12471.079360,2188,53.479683,1.09,1.25
2000-01-01,19,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-68.0,78.0,11497.753460,2664,51.289262,1.02,1.23
2001-01-01,20,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-99.0,79.0,11724.611500,2746,38.138464,1.11,1.28
2002-01-01,21,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-113.0,77.0,12875.320790,3093,31.936940,1.21,1.34
2003-01-01,22,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-139.0,78.0,15762.975790,2402,35.353623,1.17,1.31
2004-01-01,23,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-161.0,79.0,18031.000420,1915,37.157439,1.06,1.25
2005-01-01,24,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-158.0,79.0,18773.125360,2138,33.965558,1.06,1.23
2006-01-01,25,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,-19.5,80.0,19822.846030,2832,49.950366,0.87,0.99
2007-01-01,26,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,119.0,82.0,22782.094620,2991,55.055622,0.90,1.02
2008-01-01,27,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,53.0,81.0,24847.545140,3006,26.254008,1.09,1.02
2009-01-01,28,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,129.0,81.0,23059.797450,2803,40.314543,1.16,1.06
2010-01-01,29,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,204.0,82.0,22498.690860,2612,34.469643,1.01,1.06
2011-01-01,30,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,391.0,82.0,23186.913130,2421,25.200404,0.95,1.02
2012-01-01,31,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,407.0,82.0,20564.889860,2061,30.299698,1.04,1.07
2013-01-01,32,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,761.0,81.0,21647.041810,1978,34.977282,1.23,1.06
2014-01-01,33,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,805.0,83.0,22074.300760,2067,25.163394,0.99,1.14
2015-01-01,34,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,942.0,83.0,19242.366470,1971,30.021585,1.22,1.15
2016-01-01,35,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,931.0,83.0,19978.401210,2288,27.755261,1.21,1.10
2017-01-01,36,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,1101.0,85.0,21490.429860,2372,34.148154,1.33,1.13
2018-01-01,37,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,1056.0,85.0,23562.554520,2513,25.559328,1.21,1.14
2019-01-01,38,Portugal,13,Europe,1,Lisboa (Lisbon),38.7169,-9.1399,1100.0,85.0,23252.058520,2425,25.559328,1.15,1.14

In [16]:
Russia_df = pd.read_csv("Resources/individual_country_missing/14_Russia.csv", parse_dates=["year"])
Russia_df.set_index("year", inplace=True)
Russia_df_complete = Russia_df.interpolate(method="time", limit_direction='both')
Russia_df_complete
# Russia_df_complete.to_csv("Resources/individual_country_complete/14_Russia_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1983-01-01,2,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1984-01-01,3,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1985-01-01,4,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1986-01-01,5,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1987-01-01,6,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1988-01-01,7,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1989-01-01,8,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1990-01-01,9,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,47.0,3492.710314,94.0,6.091820,-0.45,-0.79
1991-01-01,10,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,50.0,3490.452505,94.0,6.091820,-0.45,-0.79
1992-01-01,11,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,125.0,50.0,3098.802639,94.0,6.091820,-0.45,-0.79
1993-01-01,12,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,98.0,55.0,2930.670201,280.0,6.091820,-0.45,-0.79
1994-01-01,13,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,97.0,56.0,2662.104034,562.0,6.091820,-0.45,-0.79
1995-01-01,14,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,118.0,58.0,2665.779867,1115.0,6.091820,-0.45,-0.79
1996-01-01,15,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,242.0,60.0,2643.929196,1334.0,6.091820,-0.45,-0.79
1997-01-01,16,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,215.0,61.0,2737.572024,1371.0,19.743900,-0.59,-0.84
1998-01-01,17,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,156.0,63.0,1834.861843,623.0,20.018500,-0.73,-0.88
1999-01-01,18,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,97.0,63.0,1330.757236,1678.0,19.422700,-0.72,-0.99
2000-01-01,19,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,118.0,65.0,1771.594059,1147.0,20.306100,-0.72,-1.10
2001-01-01,20,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,52.0,64.0,2100.352512,883.0,18.509600,-0.52,-0.97
2002-01-01,21,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,122.0,65.0,2377.529577,1135.0,28.215200,-0.31,-0.84
2003-01-01,22,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,270.5,67.0,2975.125353,2511.0,41.617900,-0.40,-0.91
2004-01-01,23,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,419.0,66.0,4102.364833,6088.0,43.774600,-0.44,-0.89
2005-01-01,24,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,511.0,66.0,5323.463083,9363.0,53.971400,-0.50,-0.93
2006-01-01,25,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,756.0,67.0,6920.189125,11371.0,100.831000,-0.44,-0.95
2007-01-01,26,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,5003.0,69.0,9101.255049,15029.0,61.901200,-0.39,-0.97
2008-01-01,27,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,7917.0,69.0,11635.272930,19777.0,61.155100,-0.36,-0.96
2009-01-01,28,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,8416.0,70.0,8562.813277,20763.0,62.302334,-0.41,-0.78
2010-01-01,29,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,5689.0,70.0,10674.995780,10040.0,62.383414,-0.47,-0.76
2011-01-01,30,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,6025.0,70.0,14311.084320,11285.0,38.298302,-0.47,-0.73
2012-01-01,31,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,6077.0,71.0,15420.874540,13389.0,37.374544,-0.42,-0.82
2013-01-01,32,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,6354.0,71.0,15974.644630,13280.0,33.616821,-0.35,-0.78
2014-01-01,33,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,4729.0,71.0,14095.648740,9764.0,18.741201,-0.11,-0.74
2015-01-01,34,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,4360.0,72.0,9313.013625,10259.0,28.840720,-0.20,-0.76
2016-01-01,35,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,4472.0,72.0,8704.898413,14357.0,48.720072,-0.20,-0.79
2017-01-01,36,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,4355.0,72.0,10720.332590,13786.0,39.602664,-0.08,-0.79
2018-01-01,37,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,4455.0,72.0,11370.813460,14071.0,34.506599,-0.06,-0.82
2019-01-01,38,Russia,14,Europe,1,Moskva (Moscow),55.755,37.6218,4371.0,72.0,11584.995380,14439.0,34.506599,0.15,-0.72

In [17]:
Spain_df = pd.read_csv("Resources/individual_country_missing/15_Spain.csv", parse_dates=["year"])
Spain_df.set_index("year", inplace=True)
Spain_df_complete = Spain_df.interpolate(method="time", limit_direction='both')
Spain_df_complete
# Spain_df_complete.to_csv("Resources/individual_country_complete/15_Spain_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Spain,15,Europe,1,Madrid,40.4165,-3.7026,442.0,60.0,5159.708645,2350,5.698125,1.62,1.44
1983-01-01,2,Spain,15,Europe,1,Madrid,40.4165,-3.7026,442.0,61.0,4478.500286,2331,6.352966,1.62,1.44
1984-01-01,3,Spain,15,Europe,1,Madrid,40.4165,-3.7026,442.0,61.0,4489.988939,2224,7.688580,1.62,1.44
1985-01-01,4,Spain,15,Europe,1,Madrid,40.4165,-3.7026,442.0,62.0,4699.655764,2407,10.790860,1.62,1.44
1986-01-01,5,Spain,15,Europe,1,Madrid,40.4165,-3.7026,442.0,61.0,6513.503286,2882,19.467552,1.62,1.44
1987-01-01,6,Spain,15,Europe,1,Madrid,40.4165,-3.7026,442.0,61.0,8239.613802,4334,22.302971,1.62,1.44
1988-01-01,7,Spain,15,Europe,1,Madrid,40.4165,-3.7026,511.0,60.0,9703.123838,5220,24.166281,1.62,1.44
1989-01-01,8,Spain,15,Europe,1,Madrid,40.4165,-3.7026,601.0,65.0,10681.971200,6500,29.572022,1.62,1.44
1990-01-01,9,Spain,15,Europe,1,Madrid,40.4165,-3.7026,792.0,66.0,13804.876790,7868,20.771074,1.62,1.44
1991-01-01,10,Spain,15,Europe,1,Madrid,40.4165,-3.7026,1811.0,69.0,14811.902820,8088,25.611151,1.62,1.44
1992-01-01,11,Spain,15,Europe,1,Madrid,40.4165,-3.7026,1145.0,70.0,16112.188920,8757,18.421485,1.62,1.44
1993-01-01,12,Spain,15,Europe,1,Madrid,40.4165,-3.7026,1245.0,72.0,13339.908560,6689,22.600136,1.62,1.44
1994-01-01,13,Spain,15,Europe,1,Madrid,40.4165,-3.7026,2430.0,73.0,13415.287000,9572,29.211281,1.62,1.44
1995-01-01,14,Spain,15,Europe,1,Madrid,40.4165,-3.7026,3237.0,74.0,15471.962720,10856,31.006790,1.62,1.44
1996-01-01,15,Spain,15,Europe,1,Madrid,40.4165,-3.7026,2007.0,74.0,16109.084400,12252,37.508914,1.62,1.44
1997-01-01,16,Spain,15,Europe,1,Madrid,40.4165,-3.7026,2304.0,75.0,14730.797180,11541,49.211001,1.64,1.39
1998-01-01,17,Spain,15,Europe,1,Madrid,40.4165,-3.7026,2420.0,77.0,15394.351460,14221,64.947191,1.66,1.34
1999-01-01,18,Spain,15,Europe,1,Madrid,40.4165,-3.7026,2749.0,77.0,15715.332270,19970,67.891085,1.71,1.39
2000-01-01,19,Spain,15,Europe,1,Madrid,40.4165,-3.7026,5068.0,80.0,14713.065710,21236,84.476160,1.76,1.43
2001-01-01,20,Spain,15,Europe,1,Madrid,40.4165,-3.7026,4659.0,80.0,15355.703170,28174,74.639414,1.80,1.35
2002-01-01,21,Spain,15,Europe,1,Madrid,40.4165,-3.7026,4612.0,79.0,17025.531980,38001,65.432818,1.85,1.26
2003-01-01,22,Spain,15,Europe,1,Madrid,40.4165,-3.7026,5670.0,80.0,21463.442660,41119,80.204275,1.88,1.28
2004-01-01,23,Spain,15,Europe,1,Madrid,40.4165,-3.7026,5818.0,80.0,24861.282800,48409,88.152818,1.35,1.14
2005-01-01,24,Spain,15,Europe,1,Madrid,40.4165,-3.7026,7472.0,81.0,26419.296860,50197,83.232665,1.51,1.13
2006-01-01,25,Spain,15,Europe,1,Madrid,40.4165,-3.7026,13969.0,81.0,28365.313490,49356,105.047980,0.84,1.13
2007-01-01,26,Spain,15,Europe,1,Madrid,40.4165,-3.7026,25908.0,83.0,32549.970980,61093,122.260439,0.99,1.17
2008-01-01,27,Spain,15,Europe,1,Madrid,40.4165,-3.7026,30037.0,83.0,35366.259600,54194,58.352067,0.92,1.19
2009-01-01,28,Spain,15,Europe,1,Madrid,40.4165,-3.7026,38984.0,82.0,32042.474080,58341,96.564109,0.95,1.16
2010-01-01,29,Spain,15,Europe,1,Madrid,40.4165,-3.7026,43095.0,83.0,30502.719710,52390,82.466869,0.99,1.19
2011-01-01,30,Spain,15,Europe,1,Madrid,40.4165,-3.7026,45740.0,84.0,31636.446310,45351,69.719130,1.03,1.20
2012-01-01,31,Spain,15,Europe,1,Madrid,40.4165,-3.7026,48417.0,84.0,28324.429340,27978,75.111214,1.12,1.06
2013-01-01,32,Spain,15,Europe,1,Madrid,40.4165,-3.7026,50722.0,84.0,29059.547950,33879,82.417782,1.15,1.02
2014-01-01,33,Spain,15,Europe,1,Madrid,40.4165,-3.7026,63956.0,85.0,29461.550330,35253,72.507262,1.16,0.95
2015-01-01,34,Spain,15,Europe,1,Madrid,40.4165,-3.7026,67349.0,85.0,25732.018360,36075,65.867258,1.17,0.90
2016-01-01,35,Spain,15,Europe,1,Madrid,40.4165,-3.7026,71559.0,85.0,26505.343220,36651,57.184079,1.12,0.98
2017-01-01,36,Spain,15,Europe,1,Madrid,40.4165,-3.7026,77816.0,86.0,28170.167860,35482,67.718932,1.03,1.01
2018-01-01,37,Spain,15,Europe,1,Madrid,40.4165,-3.7026,83379.0,84.0,30389.360990,35425,50.886968,1.00,0.97
2019-01-01,38,Spain,15,Europe,1,Madrid,40.4165,-3.7026,86796.0,84.0,29600.378250,40793,57.215017,1.00,0.98

In [18]:
Sweden_df = pd.read_csv("Resources/individual_country_missing/16_Sweden.csv", parse_dates=["year"])
Sweden_df.set_index("year", inplace=True)
Sweden_df_complete = Sweden_df.interpolate(method="time", limit_direction='both')
Sweden_df_complete
# Sweden_df_complete.to_csv("Resources/individual_country_complete/16_Sweden_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,1739,77.0,13738.97230,1103,16.258664,1.92,1.80
1983-01-01,2,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,2124,78.0,12608.22915,1064,28.800795,1.92,1.80
1984-01-01,3,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,2258,78.0,13099.02083,997,23.510769,1.92,1.80
1985-01-01,4,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,2357,78.0,13666.85775,1060,32.680121,1.92,1.80
1986-01-01,5,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,3963,77.0,17981.01941,1030,42.096949,1.92,1.80
1987-01-01,6,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,4910,78.0,21792.55891,1179,38.455472,1.92,1.80
1988-01-01,7,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,4713,77.0,24534.69382,1131,48.155356,1.92,1.80
1989-01-01,8,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,5435,76.0,25662.22059,1297,54.709668,1.92,1.80
1990-01-01,9,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,5484,76.0,30593.67244,1787,35.140759,1.92,1.80
1991-01-01,10,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,5404,78.0,31822.80385,2323,35.392058,1.92,1.80
1992-01-01,11,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,7130,78.0,32800.98269,1881,27.461650,1.92,1.80
1993-01-01,12,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,7881,80.0,24425.28493,2374,47.198190,1.92,1.80
1994-01-01,13,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,8803,82.0,26083.61439,1905,52.070961,1.92,1.80
1995-01-01,14,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,9584,83.0,30282.96392,6816,64.551638,1.92,1.80
1996-01-01,15,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,8826,83.0,32998.96816,5248,82.394989,1.92,1.80
1997-01-01,16,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,10796,84.0,30312.48760,3542,98.718604,1.94,1.80
1998-01-01,17,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,17318,85.0,30596.52720,5237,102.916503,1.96,1.79
1999-01-01,18,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,18954,86.0,30941.07936,10624,136.196839,1.96,1.81
2000-01-01,19,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,21991,87.0,29624.91267,25959,124.921899,1.96,1.83
2001-01-01,20,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,20804,87.0,27247.85773,26374,97.573613,1.99,1.85
2002-01-01,21,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,20504,87.0,29899.19525,30114,67.123103,2.03,1.88
2003-01-01,22,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,20156,87.0,37321.79790,27004,86.702027,2.08,1.93
2004-01-01,23,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,22292,88.0,42821.67314,29730,91.186100,2.12,1.89
2005-01-01,24,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,22269,88.0,43437.06312,30153,99.455600,1.89,1.81
2006-01-01,25,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,20098,88.0,46593.60216,33857,116.833000,1.80,1.86
2007-01-01,26,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,45811,89.0,53700.00534,36615,126.604000,2.03,1.91
2008-01-01,27,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,32578,89.0,56152.55234,35876,86.654000,1.96,1.93
2009-01-01,28,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,28941,89.0,46946.96027,36702,75.332800,2.05,1.97
2010-01-01,29,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,38780,89.0,52869.04429,23275,105.756000,2.00,1.96
2011-01-01,30,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,41591,88.0,60755.75955,33422,99.263600,1.97,1.94
2012-01-01,31,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,39216,88.0,58037.82132,33635,92.809200,1.96,1.95
2013-01-01,32,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,40848,88.0,61126.94320,31675,92.809200,1.91,1.97
2014-01-01,33,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,40142,90.0,60020.36046,33516,92.809200,1.80,1.99
2015-01-01,34,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,44961,90.0,51545.48361,32593,92.809200,1.82,2.04
2016-01-01,35,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,48372,89.0,51965.15715,34722,92.809200,1.77,2.02
2017-01-01,36,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,51286,89.0,53791.50873,36896,92.809200,1.84,1.94
2018-01-01,37,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,49546,89.0,54589.06039,41024,92.809200,1.83,1.89
2019-01-01,38,Sweden,16,Europe,1,Stockholm,59.3326,18.0649,52683,89.0,51615.02065,38787,92.809200,1.83,1.91

In [19]:
Switzerland_df = pd.read_csv("Resources/individual_country_missing/17_Switzerland.csv", parse_dates=["year"])
Switzerland_df.set_index("year", inplace=True)
Switzerland_df_complete = Switzerland_df.interpolate(method="time", limit_direction='both')
Switzerland_df_complete
# Switzerland_df_complete.to_csv("Resources/individual_country_complete/17_Switzerland_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Switzerland,17,Europe,1,Bern,46.9481,7.4474,6378,76.0,17478.65577,12863,34.683630,1.76,1.93
1983-01-01,2,Switzerland,17,Europe,1,Bern,46.9481,7.4474,7464,76.0,17341.99488,14257,39.600625,1.76,1.93
1984-01-01,3,Switzerland,17,Europe,1,Bern,46.9481,7.4474,8146,77.0,16499.14695,14877,37.707358,1.76,1.93
1985-01-01,4,Switzerland,17,Europe,1,Bern,46.9481,7.4474,10568,78.0,16655.33739,15888,78.043996,1.76,1.93
1986-01-01,5,Switzerland,17,Europe,1,Bern,46.9481,7.4474,12058,77.0,23751.44956,16608,83.276925,1.76,1.93
1987-01-01,6,Switzerland,17,Europe,1,Bern,46.9481,7.4474,13772,77.0,29558.89553,19691,67.043284,1.76,1.93
1988-01-01,7,Switzerland,17,Europe,1,Bern,46.9481,7.4474,14372,76.0,31743.65294,18709,67.053601,1.76,1.93
1989-01-01,8,Switzerland,17,Europe,1,Bern,46.9481,7.4474,18746,79.0,30401.89250,21144,84.588755,1.76,1.93
1990-01-01,9,Switzerland,17,Europe,1,Bern,46.9481,7.4474,17674,78.0,38428.38546,25099,61.082918,1.76,1.93
1991-01-01,10,Switzerland,17,Europe,1,Bern,46.9481,7.4474,18482,80.0,38399.21060,25682,72.641702,1.76,1.93
1992-01-01,11,Switzerland,17,Europe,1,Bern,46.9481,7.4474,19646,81.0,39534.54204,28698,71.423046,1.76,1.93
1993-01-01,12,Switzerland,17,Europe,1,Bern,46.9481,7.4474,21681,82.0,38100.73675,33056,102.468753,1.76,1.93
1994-01-01,13,Switzerland,17,Europe,1,Bern,46.9481,7.4474,24936,82.0,41843.75691,27908,97.379168,1.76,1.93
1995-01-01,14,Switzerland,17,Europe,1,Bern,46.9481,7.4474,27458,82.0,48662.43979,31125,116.194471,1.76,1.93
1996-01-01,15,Switzerland,17,Europe,1,Bern,46.9481,7.4474,30363,83.0,46676.85097,30744,121.264695,1.76,1.93
1997-01-01,16,Switzerland,17,Europe,1,Bern,46.9481,7.4474,37962,85.0,40417.96227,30634,200.803122,1.87,1.95
1998-01-01,17,Switzerland,17,Europe,1,Bern,46.9481,7.4474,48263,85.0,41497.20257,38225,233.591071,1.98,1.97
1999-01-01,18,Switzerland,17,Europe,1,Bern,46.9481,7.4474,52973,86.0,40581.30705,40532,233.943703,2.01,1.98
2000-01-01,19,Switzerland,17,Europe,1,Bern,46.9481,7.4474,64719,88.0,37868.32303,55377,291.233204,2.04,1.98
2001-01-01,20,Switzerland,17,Europe,1,Bern,46.9481,7.4474,129478,88.0,38538.99009,63768,189.266588,2.02,1.96
2002-01-01,21,Switzerland,17,Europe,1,Bern,46.9481,7.4474,118342,87.0,41376.39395,74229,203.262432,2.00,1.95
2003-01-01,22,Switzerland,17,Europe,1,Bern,46.9481,7.4474,124247,87.0,48087.58313,92750,206.027839,1.82,1.94
2004-01-01,23,Switzerland,17,Europe,1,Bern,46.9481,7.4474,122165,87.0,53340.14768,121790,210.343594,2.18,1.91
2005-01-01,24,Switzerland,17,Europe,1,Bern,46.9481,7.4474,133387,88.0,54952.67376,100692,229.684882,1.85,1.91
2006-01-01,25,Switzerland,17,Europe,1,Bern,46.9481,7.4474,134568,87.0,57579.50195,102022,281.381914,2.08,1.82
2007-01-01,26,Switzerland,17,Europe,1,Bern,46.9481,7.4474,149732,88.0,63555.23746,94675,265.601601,2.04,1.85
2008-01-01,27,Switzerland,17,Europe,1,Bern,46.9481,7.4474,157121,88.0,72487.84594,133222,158.800940,2.04,1.82
2009-01-01,28,Switzerland,17,Europe,1,Bern,46.9481,7.4474,140819,88.0,69927.46876,131707,196.615653,1.95,1.75
2010-01-01,29,Switzerland,17,Europe,1,Bern,46.9481,7.4474,180642,89.0,74605.72108,119891,210.584513,1.88,1.76
2011-01-01,30,Switzerland,17,Europe,1,Bern,46.9481,7.4474,198050,88.0,88415.62803,107341,155.739148,1.87,1.73
2012-01-01,31,Switzerland,17,Europe,1,Bern,46.9481,7.4474,199125,90.0,83538.23003,122417,184.634493,1.89,1.82
2013-01-01,32,Switzerland,17,Europe,1,Bern,46.9481,7.4474,220349,90.0,85112.46440,128490,223.774944,1.82,1.80
2014-01-01,33,Switzerland,17,Europe,1,Bern,46.9481,7.4474,245188,91.0,86605.56338,142886,210.850391,2.11,1.99
2015-01-01,34,Switzerland,17,Europe,1,Bern,46.9481,7.4474,241008,91.0,82081.59716,171342,223.485039,2.00,1.95
2016-01-01,35,Switzerland,17,Europe,1,Bern,46.9481,7.4474,267657,91.0,80172.23209,185329,209.047577,2.01,1.95
2017-01-01,36,Switzerland,17,Europe,1,Bern,46.9481,7.4474,274721,91.0,80449.99451,252231,248.032337,2.06,1.93
2018-01-01,37,Switzerland,17,Europe,1,Bern,46.9481,7.4474,295783,91.0,82818.10816,253253,204.379159,2.04,1.93
2019-01-01,38,Switzerland,17,Europe,1,Bern,46.9481,7.4474,300393,91.0,81993.72713,228968,260.915814,1.95,1.91

In [20]:
Greece_df = pd.read_csv("Resources/individual_country_missing/18_Greece.csv", parse_dates=["year"])
Greece_df.set_index("year", inplace=True)
Greece_df_complete = Greece_df.interpolate(method="time", limit_direction='both')
Greece_df_complete
# Greece_df_complete.to_csv("Resources/individual_country_complete/18_Greece_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,50.0,57.0,5579.234615,412,13.793700,0.84,1.05
1983-01-01,2,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,57.0,58.0,5019.878771,315,13.793700,0.84,1.05
1984-01-01,3,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,90.0,58.0,4852.565667,239,13.793700,0.84,1.05
1985-01-01,4,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,173.0,59.0,4813.711205,179,13.793700,0.84,1.05
1986-01-01,5,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,256.0,59.0,5656.505332,129,13.793700,0.84,1.05
1987-01-01,6,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,91.0,58.0,6564.884427,164,13.793700,0.84,1.05
1988-01-01,7,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,99.0,56.0,7598.028005,216,13.793700,0.84,1.05
1989-01-01,8,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,96.0,56.0,7846.678122,210,13.793700,0.84,1.05
1990-01-01,9,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,94.0,56.0,9600.185235,282,13.793700,0.84,1.05
1991-01-01,10,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,52.0,63.0,10188.369780,306,13.793700,0.84,1.05
1992-01-01,11,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,76.0,65.0,11176.458420,372,13.793700,0.84,1.05
1993-01-01,12,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,73.0,67.0,10401.983010,410,13.793700,0.84,1.05
1994-01-01,13,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,78.0,68.0,11091.283850,482,13.793700,0.84,1.05
1995-01-01,14,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,106.0,68.0,12959.324290,533,13.793700,0.84,1.05
1996-01-01,15,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,115.0,69.0,13749.115110,566,13.793700,0.84,1.05
1997-01-01,16,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,154.0,70.0,13427.832510,634,19.210000,0.81,0.93
1998-01-01,17,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,165.0,71.0,13472.137610,648,38.254600,0.78,0.81
1999-01-01,18,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,171.0,73.0,13245.189440,760,38.254600,0.70,0.85
2000-01-01,19,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,659.0,75.0,12042.953710,795,50.242355,0.63,0.88
2001-01-01,20,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,462.0,76.0,12538.178870,835,62.230110,0.73,0.82
2002-01-01,21,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,526.0,75.0,14110.313370,981,43.594258,0.82,0.75
2003-01-01,22,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,962.0,77.0,18477.578360,1431,52.813696,0.76,0.82
2004-01-01,23,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,1120.0,77.0,21955.104140,1899,52.070918,0.81,0.91
2005-01-01,24,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,1302.0,77.0,22551.735770,1884,58.567674,0.72,0.79
2006-01-01,25,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,873.5,78.0,24801.157780,1804,73.429570,0.64,0.87
2007-01-01,26,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,445.0,80.0,28827.326390,2179,83.190749,0.56,0.87
2008-01-01,27,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,285.5,80.0,31997.282020,2092,25.447101,0.59,0.86
2009-01-01,28,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,126.0,79.0,29710.970230,1919,34.131004,0.62,0.65
2010-01-01,29,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,-41.0,79.0,26917.758950,1775,22.576852,0.56,0.63
2011-01-01,30,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,-197.0,80.0,25916.293490,1440,11.737021,0.51,0.57
2012-01-01,31,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,-376.0,80.0,22242.681950,1065,18.266955,0.32,0.43
2013-01-01,32,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,612.0,81.0,21874.819470,-584,34.434065,0.46,0.47
2014-01-01,33,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,605.0,82.0,21760.979750,-54,23.268940,0.40,0.36
2015-01-01,34,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,638.0,81.0,18167.773730,1007,21.404593,0.26,0.27
2016-01-01,35,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,744.0,81.0,18116.459650,1017,19.036258,0.23,0.11
2017-01-01,36,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,850.0,82.0,18930.218630,1198,24.856551,0.31,0.08
2018-01-01,37,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,639.0,83.0,20324.304990,1399,17.590143,0.34,0.15
2019-01-01,38,Greece,18,Europe,1,Athnai (Athens),37.9534,23.749,639.0,83.0,19582.535980,938,25.567441,0.41,0.20

In [22]:
Hungary_df = pd.read_csv("Resources/individual_country_missing/19_Hungary.csv", parse_dates=["year"])
Hungary_df.set_index("year", inplace=True)
Hungary_df_complete = Hungary_df.interpolate(method="time", limit_direction='both')
Hungary_df_complete
# Hungary_df_complete.to_csv("Resources/individual_country_complete/19_Hungary__complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Hungary,19,Europe,1,Budapest,47.498,19.0399,8.0,53.0,3350.258323,119.0,7.769390,0.86,0.91
1983-01-01,2,Hungary,19,Europe,1,Budapest,47.498,19.0399,6.0,53.0,3350.258323,119.0,7.769390,0.86,0.91
1984-01-01,3,Hungary,19,Europe,1,Budapest,47.498,19.0399,9.0,53.0,3350.258323,119.0,7.769390,0.86,0.91
1985-01-01,4,Hungary,19,Europe,1,Budapest,47.498,19.0399,8.0,53.0,3350.258323,119.0,7.769390,0.86,0.91
1986-01-01,5,Hungary,19,Europe,1,Budapest,47.498,19.0399,9.0,54.0,3350.258323,119.0,7.769390,0.86,0.91
1987-01-01,6,Hungary,19,Europe,1,Budapest,47.498,19.0399,8.0,54.0,3350.258323,119.0,7.769390,0.86,0.91
1988-01-01,7,Hungary,19,Europe,1,Budapest,47.498,19.0399,7.5,56.0,3350.258323,119.0,7.769390,0.86,0.91
1989-01-01,8,Hungary,19,Europe,1,Budapest,47.498,19.0399,7.0,56.0,3350.258323,119.0,7.769390,0.86,0.91
1990-01-01,9,Hungary,19,Europe,1,Budapest,47.498,19.0399,3.0,58.0,3350.258323,119.0,7.769390,0.86,0.91
1991-01-01,10,Hungary,19,Europe,1,Budapest,47.498,19.0399,-1.0,60.0,3350.258323,189.0,7.769390,0.86,0.91
1992-01-01,11,Hungary,19,Europe,1,Budapest,47.498,19.0399,15.0,62.0,3735.105820,254.0,7.769390,0.86,0.91
1993-01-01,12,Hungary,19,Europe,1,Budapest,47.498,19.0399,13.0,64.0,3873.987723,1053.0,7.769390,0.86,0.91
1994-01-01,13,Hungary,19,Europe,1,Budapest,47.498,19.0399,12.0,67.0,4173.373024,1066.0,7.769390,0.86,0.91
1995-01-01,14,Hungary,19,Europe,1,Budapest,47.498,19.0399,11.0,68.0,4494.707624,1487.0,7.769390,0.86,0.91
1996-01-01,15,Hungary,19,Europe,1,Budapest,47.498,19.0399,5.0,71.0,4525.039103,1843.0,7.769390,0.86,0.91
1997-01-01,16,Hungary,19,Europe,1,Budapest,47.498,19.0399,8.0,73.0,4596.182622,1168.0,20.133600,0.93,0.89
1998-01-01,17,Hungary,19,Europe,1,Budapest,47.498,19.0399,190.0,74.0,4744.212264,1485.0,28.605800,0.99,0.87
1999-01-01,18,Hungary,19,Europe,1,Budapest,47.498,19.0399,1000.0,75.0,4793.478522,2409.0,30.041900,0.98,0.89
2000-01-01,19,Hungary,19,Europe,1,Budapest,47.498,19.0399,5287.0,76.0,4624.281657,1920.0,27.754200,0.98,0.91
2001-01-01,20,Hungary,19,Europe,1,Budapest,47.498,19.0399,17805.0,78.0,5276.033189,2033.0,21.183200,1.02,0.94
2002-01-01,21,Hungary,19,Europe,1,Budapest,47.498,19.0399,18779.0,78.0,6655.333009,2503.0,19.211785,1.05,0.98
2003-01-01,22,Hungary,19,Europe,1,Budapest,47.498,19.0399,16554.0,78.0,8421.103313,2856.0,19.534019,0.96,0.93
2004-01-01,23,Hungary,19,Europe,1,Budapest,47.498,19.0399,17154.0,81.0,10285.793630,3024.0,27.508508,0.86,0.91
2005-01-01,24,Hungary,19,Europe,1,Budapest,47.498,19.0399,19123.0,82.0,11200.576950,2795.0,28.832888,0.77,0.86
2006-01-01,25,Hungary,19,Europe,1,Budapest,47.498,19.0399,24020.0,83.0,11475.822710,2602.0,36.282649,0.87,1.00
2007-01-01,26,Hungary,19,Europe,1,Budapest,47.498,19.0399,47509.0,84.0,13918.960190,6457.0,33.004894,0.71,0.96
2008-01-01,27,Hungary,19,Europe,1,Budapest,47.498,19.0399,66302.0,85.0,15753.473280,3737.0,11.676893,0.71,0.93
2009-01-01,28,Hungary,19,Europe,1,Budapest,47.498,19.0399,70715.0,85.0,13046.481010,4090.0,22.970754,0.67,0.80
2010-01-01,29,Hungary,19,Europe,1,Budapest,47.498,19.0399,39266.0,85.0,13191.621260,4237.0,21.004504,0.67,0.78
2011-01-01,30,Hungary,19,Europe,1,Budapest,47.498,19.0399,18362.0,85.0,14216.165610,6305.0,13.242809,0.67,0.76
2012-01-01,31,Hungary,19,Europe,1,Budapest,47.498,19.0399,11080.0,84.0,12950.686520,7500.0,16.158863,0.63,0.62
2013-01-01,32,Hungary,19,Europe,1,Budapest,47.498,19.0399,11952.0,84.0,13687.514060,6317.0,14.620162,0.65,0.58
2014-01-01,33,Hungary,19,Europe,1,Budapest,47.498,19.0399,20269.0,85.0,14267.012150,5582.0,10.310289,0.53,0.50
2015-01-01,34,Hungary,19,Europe,1,Budapest,47.498,19.0399,12124.0,84.0,12706.891210,7625.0,14.141156,0.50,0.40
2016-01-01,35,Hungary,19,Europe,1,Budapest,47.498,19.0399,19381.0,84.0,13090.506730,7392.0,17.555276,0.46,0.42
2017-01-01,36,Hungary,19,Europe,1,Budapest,47.498,19.0399,21932.0,84.0,14605.854350,6672.0,22.071562,0.52,0.53
2018-01-01,37,Hungary,19,Europe,1,Budapest,47.498,19.0399,31730.0,84.0,16410.187260,6597.0,18.036891,0.49,0.55
2019-01-01,38,Hungary,19,Europe,1,Budapest,47.498,19.0399,52360.0,84.0,16731.821510,6114.0,20.117895,0.50,0.49

In [23]:
Turkey_df = pd.read_csv("Resources/individual_country_missing/20_Turkey.csv", parse_dates=["year"])
Turkey_df.set_index("year", inplace=True)
Turkey_df_complete = Turkey_df.interpolate(method="time", limit_direction='both')
Turkey_df_complete
# Turkey_df_complete.to_csv("Resources/individual_country_complete/20_Turkey_complete.csv")

,year_id,countries,country_id,regions,region_id,capital,latitude,longitude,fdi_in_usa_million,globalization_100,gdp_per_capita_usd,fdi_by_usa_million,stock_market_capitalization_gdp,government_effectiveness,rule_of_law
year,,,,,,,,,,,,,,,
1982-01-01,1,Turkey,20,Europe,1,Ankara,39.9199,32.8543,0.0,43.0,1402.406435,146,20.321221,-0.08,-0.14
1983-01-01,2,Turkey,20,Europe,1,Ankara,39.9199,32.8543,0.0,44.0,1310.255596,131,20.321221,-0.08,-0.14
1984-01-01,3,Turkey,20,Europe,1,Ankara,39.9199,32.8543,1.0,45.0,1246.824546,248,20.321221,-0.08,-0.14
1985-01-01,4,Turkey,20,Europe,1,Ankara,39.9199,32.8543,1.0,46.0,1368.401402,259,20.321221,-0.08,-0.14
1986-01-01,5,Turkey,20,Europe,1,Ankara,39.9199,32.8543,1.0,48.0,1510.676522,246,20.321221,-0.08,-0.14
1987-01-01,6,Turkey,20,Europe,1,Ankara,39.9199,32.8543,15.0,48.0,1705.894585,238,20.321221,-0.08,-0.14
1988-01-01,7,Turkey,20,Europe,1,Ankara,39.9199,32.8543,41.0,51.0,1745.364893,287,20.321221,-0.08,-0.14
1989-01-01,8,Turkey,20,Europe,1,Ankara,39.9199,32.8543,17.0,52.0,2021.859224,343,20.321221,-0.08,-0.14
1990-01-01,9,Turkey,20,Europe,1,Ankara,39.9199,32.8543,20.0,52.0,2794.350390,522,20.321221,-0.08,-0.14
1991-01-01,10,Turkey,20,Europe,1,Ankara,39.9199,32.8543,34.0,53.0,2735.707864,545,20.321221,-0.08,-0.14
1992-01-01,11,Turkey,20,Europe,1,Ankara,39.9199,32.8543,44.0,55.0,2842.369876,732,20.321221,-0.08,-0.14
1993-01-01,12,Turkey,20,Europe,1,Ankara,39.9199,32.8543,48.0,57.0,3180.187801,995,20.321221,-0.08,-0.14
1994-01-01,13,Turkey,20,Europe,1,Ankara,39.9199,32.8543,45.0,60.0,2270.337523,874,16.531511,-0.08,-0.14
1995-01-01,14,Turkey,20,Europe,1,Ankara,39.9199,32.8543,31.0,61.0,2897.866491,973,12.255719,-0.08,-0.14
1996-01-01,15,Turkey,20,Europe,1,Ankara,39.9199,32.8543,55.0,59.0,3053.947025,1059,16.702966,-0.08,-0.14
1997-01-01,16,Turkey,20,Europe,1,Ankara,39.9199,32.8543,59.0,61.0,3144.385859,1033,32.183287,-0.17,-0.10
1998-01-01,17,Turkey,20,Europe,1,Ankara,39.9199,32.8543,68.0,60.0,4499.736701,1014,12.191871,-0.26,-0.06
1999-01-01,18,Turkey,20,Europe,1,Ankara,39.9199,32.8543,117.0,62.0,4116.170165,1792,43.963418,-0.13,-0.04
2000-01-01,19,Turkey,20,Europe,1,Ankara,39.9199,32.8543,188.0,63.0,4337.478141,1826,25.413842,0.01,-0.01
2001-01-01,20,Turkey,20,Europe,1,Ankara,39.9199,32.8543,195.0,65.0,3142.955190,1641,23.983736,0.05,-0.02
2002-01-01,21,Turkey,20,Europe,1,Ankara,39.9199,32.8543,228.0,62.0,3687.890278,1869,15.002758,0.08,-0.03
2003-01-01,22,Turkey,20,Europe,1,Ankara,39.9199,32.8543,161.0,62.0,4760.148949,2213,21.735537,0.05,0.15
2004-01-01,23,Turkey,20,Europe,1,Ankara,39.9199,32.8543,162.0,63.0,6101.471608,2682,24.041659,0.01,0.13
2005-01-01,24,Turkey,20,Europe,1,Ankara,39.9199,32.8543,162.0,65.0,7456.387715,2563,31.600353,0.15,0.16
2006-01-01,25,Turkey,20,Europe,1,Ankara,39.9199,32.8543,205.0,66.0,8102.121489,3141,28.878484,0.12,0.05
2007-01-01,26,Turkey,20,Europe,1,Ankara,39.9199,32.8543,165.0,67.0,9791.651574,5584,41.761629,0.31,0.02
2008-01-01,27,Turkey,20,Europe,1,Ankara,39.9199,32.8543,475.5,70.0,10940.991250,4542,15.261789,0.27,0.08
2009-01-01,28,Turkey,20,Europe,1,Ankara,39.9199,32.8543,786.0,70.0,9103.709879,3675,35.681543,0.28,0.10
2010-01-01,29,Turkey,20,Europe,1,Ankara,39.9199,32.8543,749.0,70.0,10742.430070,4155,38.926094,0.29,0.11
2011-01-01,30,Turkey,20,Europe,1,Ankara,39.9199,32.8543,476.0,71.0,11420.773260,4027,23.495210,0.35,0.07
2012-01-01,31,Turkey,20,Europe,1,Ankara,39.9199,32.8543,562.5,71.0,11795.316710,4945,35.795286,0.41,0.04
2013-01-01,32,Turkey,20,Europe,1,Ankara,39.9199,32.8543,649.0,71.0,12614.480260,3845,20.437007,0.38,0.07
2014-01-01,33,Turkey,20,Europe,1,Ankara,39.9199,32.8543,624.0,72.0,12157.337960,3718,23.405529,0.37,0.01
2015-01-01,34,Turkey,20,Europe,1,Ankara,39.9199,32.8543,1389.0,72.0,11006.249740,3798,21.851067,0.22,-0.11
2016-01-01,35,Turkey,20,Europe,1,Ankara,39.9199,32.8543,1663.0,71.0,10895.318690,3726,19.750290,0.05,-0.21
2017-01-01,36,Turkey,20,Europe,1,Ankara,39.9199,32.8543,1919.0,71.0,10591.474370,4074,26.486011,0.08,-0.25
2018-01-01,37,Turkey,20,Europe,1,Ankara,39.9199,32.8543,2175.0,71.0,9455.593654,3903,19.176135,0.01,-0.32
2019-01-01,38,Turkey,20,Europe,1,Ankara,39.9199,32.8543,2340.0,71.0,9126.561346,3333,24.292076,0.05,-0.28